.about-gost{
     margin-bottom: 30px;
     .gost-row{
         @include row-flex();
         flex-wrap: nowrap;
         justify-content: center;
    }
     .gost_header{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
    }
     .gost_catalog{
         box-shadow: 7px 10px 25px rgba(0, 0, 0, 0.62);
         padding: 10px;
         min-width: 215px;
         @include col();
         @include size(3);
         @include media-600(){
             @include size(10);
        }
         @include size-xxs(12);
         @include xxs-block(){
             box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
             padding: 0px;
             background-color: #242427;
        }
    }
     
     .catalog_dropdown{
         display: none;
         margin-top: -2px;
         background-color: #242427;
         @include xxs-block(){
             margin: 0;
        }
    }
     .dropdown_child{
         a{
             display: block;
             font-size: 16px;
             font-weight: 400;
             margin: 0;
             padding: 8px;
             padding-left: 30px;
             @include xxs-block(){
                 background-color: #2a2b2f;
                 text-decoration: underline;
                 padding: 19px 15px 16px 40px;
                 margin: 2px 0;
            }
             &:hover{
                 color: #00d181;
                 @include xxs-block(){
                     color: inherit;
                }
            }
        }
    }

}
     .gost_content{
         @include col();
         @include size(9);
         padding:0 50px;
         @include media-1180(){
             padding:0 10px;
        }
         @include media-600(){
             display: none;
        }
    }
     .gost_content_item{
         background-color: #242427;
         margin: 5px 0;
         padding: 14px 25px 11px 20px;
         display: flex;
         align-items: center;
         @include media-750(){
             flex-direction: column;
        }
         &:first-child{
             margin-top:0;
        }
         &:last-child{
             margin-bottom:0;
        }
    }
     .content_item_img{
         margin-right: 15px;
         @include media-750(){
             display: none;
        }
    }
     .content_item_text{
         font-size: 16px;
         padding-right: 15px;
         line-height: 22px;
         span{
             font-weight: 700;
        }
    }
     .content_item_download{
         display: flex;
         align-items: center;
         @include media-750(){
             margin: 10px 0;
             border: 1px solid #cccccc;
             border-radius: 40px;
             padding:10px 20px;
        }
         .content_item_link{
             margin-left: 5px;
             text-decoration: underline;
        }
    }
     .download_pdf{
         display: none;
         @include media-750(){
             display: block;
        }
    }
     .download_arrow{
         @include media-750(){
             display: none;
        }
    }
     
     .gost_content_mob{
         background-color: #2a2b2f;
         display: none;
         .gost_content_item{
             margin-bottom: 20px;
             background-color: #242427;
        }
         .content_item_link{
             background-color: inherit;
             padding:2px 10px;
             margin: 0;
        }
    }
 .catalog_item_link{
         display: block;
         font-size: 16px;
         font-weight: 700;
         background-color: #242427;
         text-decoration: underline;
         padding: 19px 15px 16px 20px;
         margin: 2px 0;
         @include xxs-block(){
             background-color: #2a2b2f;
             box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
        }
    }
     .arrow-down{
         position: relative;
         &:after{
             content: "";
             display: inline-block;
             background-image: url(../img/arrow-down.png);
             width: 12px;
             height: 12px;
             position: absolute;
             right: 16px;
             top: 25px;
             transition: all 0.4s ease 0s;
        }
    }
     .arrow-down-mob{
         position: relative;
         &:after{
             @include xxs-block(){
                 content: "";
                 display: inline-block;
                 background-image: url(../img/arrow-down.png);
                 width: 12px;
                 height: 12px;
                 position: absolute;
                 right: 16px;
                 top: 25px;
                 transition: all 0.4s ease 0s;
            }
        }
    }
     .arrow-top{
        color: #06bb76;
         &:after{
             transform: rotate(-180deg);

        }
    }
     .green-item{
         color: #00d181;
    }