.about-company{
     .about_logo{
         display: flex;
         justify-content: center;
         background: url('../img/company-bg.png') no-repeat 50%;
         margin-bottom: 67px;
         padding: 115px 0;
         @include xxs-block(){
             padding: 50px 0;
             margin: 0;
             margin-bottom: 67px;
        }
    }
     .about_logo_img{
         width: 67%;
    }
     .row-company-assortment{
         @include row-flex();
         justify-content: center;
         margin-bottom: 25px;
    }
     .company-title{
         width: 100%;
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 44px;
         @include xxs-block(){
             font-size: 16px;
             font-weight: 400;
             margin-bottom: 15px;
        }
    }
     .company_assortment_text{
         @include col();
         @include size(8);
         @include size-sm(10);
         @include size-xs(11);
         @include size-xxs(12);
         @include offset-left(1);
         @include offset-right(1);
         @include offset-left-sm(0);
         @include offset-right-sm(0);
         text-align: center;
         font-size: 16px;
         line-height: 25px;
         margin-bottom: 33px;
    }
     .company_label{
         font-size: 16px;
         font-weight: 700;
    }
     
     .row-company-advantages{
         margin-bottom: 80px;
         justify-content: center;
         @include row-flex();
         @include xxs-block(){
             background-color: #242427;
             padding: 20px 0;
             margin-bottom: 20px;
        }
    }
     .advantages-title{
         padding:0 35px;
    }
     .company_advantages_item{
         background-color: #242427;
         padding: 40px 10px;
         margin-bottom: 15px;
         @include col();
         @include size(3);
         @include size-sm(5);
         @include size-xs(10);
         @include size-xxs(12);
         @include xs-block(){
             display: flex;
             align-items: center;
             padding: 20px;
             margin: 0;
        }
         @include xxs-block(){
             padding: 10px;
        }
    }
     .advantages_numb{
         color: #5f626e;
         font-size: 90px;
         text-align: center;
         @include xs-block(){
             margin-right: 20px;
        }
         @include xxs-block(){
             font-size: 60px;
        }
    }
     .advantages_text{
         font-size: 16px;
         font-weight: 700;
         text-align: center;
    }
     .company-gallery-bg{
         background-color: #232427;
         padding-top: 50px;
         padding-bottom: 20px;
         margin-bottom: 75px;
    }
     .company_gallery_title{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
    }
     .company-gallery{
         @include row-flex();
         position: relative;
    }
     .gallery_img{
         margin-bottom: 32px;
         opacity: 0.5;
    }
     .slick-slide{
         display: flex;
         flex-direction: column;
         align-items: center;
    }
     .slick-arrow{
         position: absolute;
         top: 50%;
         right: -20px;
         transform: translateY(-100%);
         cursor: pointer;
         &:first-child{
             left: -20px;
             @include media-1265(){
                 left: -14px;
            }
        }
         @include media-1265(){
             right: -14px;
        }
    }
     .slick-dots {
         bottom: -25px;
         li button{
             width: 10px;
             height: 10px;
             border-radius: 10px;
             background-color: #5f626e;
        }
         .slick-active button{
             background-color: #00d181;
        }
    }
     .company-documentation-row{
         margin-bottom: 45px;
    }
     .documentation_img{
         margin-bottom: 32px;
    }
     .company_documentation_title{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
    }
     .company_documentation_slick{
    }
    
}
  .company-request{
     position: relative;
     margin-top: 0;
     margin-bottom: -112px;
     z-index: 100;
     padding-bottom: 55px;
     @include media-1180(){
         padding-top: 40px;
    }
     
    }
    .company_request_info{
         padding-right: 20px;
         margin-top: 0;
         margin-bottom: -112px;
         @include media-1180(){
             padding:0 50px;
        }
         @include media-900(){
             padding:0;
        }
         @include xxs-block(){
             padding: 70px 0;
        }
    }
     .company_info_header{
         font-size: 70px;
         padding-top: 116px;
         line-height: 80px;
         margin-bottom: 38px;
         @include media-1180(){
             padding: 0 55px;
        }
         @include xs-block(){
             font-size: 40px;
             font-weight: 700;
        }
         @include xxs-block(){
             margin: 0;
             padding: 0;
             line-height: 48px;
             margin-bottom: 48px;
        }
    }
     .company_request_text{
         margin: 0;
         padding: 0 10px;
         @include xxs-block(){
             padding: 0 20px;
        }
         span{
             @include xxs-block(){
                 display: block;
                 margin-top: 25px;
            }
        }
    }
     .request_info_str{
         font-size: 55px;
         @include xs-block(){
             font-size: 24px;
             font-weight: 700;
             display: block;
        }
}

.company_assortment_item{
         background-color: #242427;
         padding: 30px;
         margin-bottom: 40px;
         @include col();
         @include size(3);
         @include size-sm(6);
         @include size-xs(10);
         @include size-xxs(12);
         @include md-block(){
             padding: 15px;
        }
         @include sm-block(){
             margin-bottom: 20px;
        }
    }
    .assortment_list{
    margin-bottom: 35px;
}
     .assortment_str{
         display: flex;
         align-items: center;
         padding: 10px 0;

    }
     .assortment_item_img{
        min-width: 16px;
         margin-right: 10px;
         @include xxs-block(){
             display: none;
        }
    }
     .assortment_item_link{
         font-size: 16px;
         text-decoration: underline;
         &:hover{
            color: #00d181;
         }
    }