@import "abstract/smart-grid";
 @include reset();
 .container{
     @include wrapper();
}
 .row{
     @include row-flex();
}
 html, body{
     font-family: 'Open Sans';
     font-size: 14px;
     font-weight: 400;
     height: 100%;
     background-color: #2a2b2f;
     color: #cccccc;
}
 a{
     text-decoration: none;
     color:inherit;
}
 li{
     list-style:none;
}
 .site-wrap {
     display: flex;
     flex-direction: column;
     height: 100%;
}
 .content {
     flex: 1 0 auto;
}
 footer {
     flex: 0 0 auto;
}
 .breadcrumbs{
     margin: 28px 0;
}
 .breadcrumbs_item{
     color: #5f626e;
     margin-right: 5px;
     font-size: 16px;
}
 .breadcrumbs_item-current{
     color: $text-color;
}
 