.contacts{
     margin-bottom: 49px;
     .contacts_header{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 17px;
    }
     .contacts_text{
         font-size: 16px;
         text-align: center;
         margin-bottom: 50px;
         @include xxs-block(){
             display: none;
        }
    }
     .contacts_info-row{
         @include row-flex();
         justify-content: center;
    }
     .left-info-col{
         @include col();
         @include size(5);
         padding-top: 36px;
         @include media-900(){
             @include offset-left(0);
             @include size(5);
        }
         @include size-sm(10);
         @include size-xs(12);
         @include xxs-block(){
             padding-top: 0;
        }
    }
     .right-info-col{
         @include col();
         @include size(5);
         @include media-1180(){
             @include size(6);
        }
         @include media-900(){
             @include size(7);
        }
         @include size-sm(12);
    }
     .contacts_logo{
         text-align: center;
         margin-bottom: 50px;
         @include xxs-block(){
             width: 120px;
             margin: 0 auto;
             margin-bottom: 38px;
        }
    }
     .contacts_item{
         display: flex;
         align-items: center;
         margin-bottom: 28px;
    }
     .contacts_img{
         width: 70px;
         height: 70px;
         min-width:70px;
         background-color: #242427;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-right: 15px;
    }
     .contacts_content_title, .contacts_content_text{
         font-size: 16px;
         font-weight: 700;
    }
     .contacts_content_title{
         margin-bottom: 5px;
    }
     .contacts_content_text{
         font-weight: 400;
         a{
             @include xxs-block(){
                 display: block;
            }
        }
    }
     .request_contacts_top{
         width: 92%;
         background:none;
         background-color: #242427;
         margin-top: 0;
         margin-bottom: 0;
         margin-left: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 62px 15px;
         @include xs-block(){
             width: 100%;
             margin-left: 0px;
        }
         @include xxs-block(){
             padding-left: 5px;
             padding-right: 5px;
        }
         .request_form_header-contacts{
             padding-top: 0;
             @include xxs-block(){
                 display: none;
            }
        }
         .request_form_header-mob{
             font-size: 16px;
             font-weight: 500;
             text-transform: uppercase;
             text-align: center;
             display: none;
             @include xxs-block(){
                 display: block;
                 margin-bottom: 38px;
            }
        }
         .request_input, .request_textarea{
             width: 80%;
             @include xs-block(){
                 width: 95%;
            }
             @include xxs-block(){
                 width: 80%;
            }
        }
         .request_textarea{
             height: 71px;
        }
         .form_text-mod{
             display: block;
             padding: 0;
             max-width: 100%;
        }
    }
     .contacts_form_bottom{
         box-shadow: 49px 65px 180px rgba(0, 0, 0, 0.64);
         background-color: #2a2b2f;
         position: relative;
         margin-top: 0;
         margin-bottom: -112px;
         z-index: 100;
         padding-top: 25px;
         padding-bottom: 48px;
         @include md-block(){
             display: none;
        }
    }
     .contacts_form_header{
         color: #00d181;
         font-size: 50px;
         font-weight: 700;
         text-align: center;
         margin-bottom: 30px;
         padding-top: 0;
    }
     .contacts_request_form{
         width: 100%;
         padding: 44px 32px;
    }
     .contacts-row{
         @include row-flex();
         justify-content: center;
    }
     .left-form-col{
         background-color: #242427;
         @include col();
         @include size(5);
         padding:0 70px;
         padding-top: 134px;
         padding-bottom: 20px;
    }
     .left-form_title{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
    }
     .left-form_text{
         font-size: 16px;
         text-align: center;
         line-height: 25px;
         margin-bottom: 67px;
    }
     .middle-form-col{
         @include col();
         @include size(2);
         display: flex;
         justify-content: center;
         align-items: center;
         color: #00d181;
         font-size: 24px;
         font-weight: 700;
         text-transform: uppercase;
    }
     .right-form-col{
         background-color: #242427;
         @include col();
         @include size(5);
    }
     .contacts_form_title{
         padding-top: 0;
         margin-bottom: 21px;
    }
     .contacts_form_text {
         text-align: center;
         margin-bottom: 10px;
         margin-bottom: 21px;
    }
     .contacts_form_input{
         width: 70%;
    }
     .contacts_form_btn{
         margin-bottom: 20px;
    }
     .contacts_send_text{
         max-width: 100%;
         display: block;
    }
}
 .contacts_bottom{
     margin-bottom: 0;
}
.google_card{
	@include xxs-block(){
		display: none;
	}
}
.contacts_top{
	@include xxs-block(){
		margin-bottom: 0;
	}
	
}