.breadcrumbs-faq{
	margin-bottom: 13px;
}
.faq{
	margin-bottom: 54px;
	@include xxs-block(){
		    margin-bottom: 20px;
	}
	.faq_header{
		text-transform: uppercase;

font-size: 24px;
font-weight: 500;
text-align: center;
margin-bottom: 32px;

	}
	.faq_questions{
		@include row-flex();
		justify-content: center;

	}
	.faq_questions_item{
		background-color: #242427;
		margin-bottom: 4px;
		@include col();
		@include size(8);
		@include size-sm(10);
		@include size-xs(12);

	}
	.questions_item_title{
		font-size: 16px;
		font-weight: 700;
		padding: 20px 75px 16px 31px;
		position: relative;
		cursor: pointer;
		@include xxs-block(){
			padding-left: 10px;
		}
		&:after{
			content: '';
		    display: inline-block;
		    background-image: url(../img/arrow-down.png);
		    width: 12px;
		    height: 12px;
		    color: #cccccc;
		    position: absolute;
		    right: 16px;
		    top: 50%;
		    transform: translateY(-50%);
		    transition: 0.4s;
		}

	}
	.question_open{
		color: #00d181;
		&:after{
			transform: rotate(180deg);
		}
	}
	.questions_item_text{
		display: none;
		line-height: 25px;
		font-size: 16px;
		padding: 12px 75px 46px 71px;
		@include xxs-block(){
			padding-left: 10px;
			padding-right: 10px;
		}
	}

}
.faq-request{
	    padding-bottom: 30px;
	@include xxs-block(){
		margin-bottom: 20px;
	}
}

		.faq_request_info{
		padding-top: 48px;
		padding-bottom: 109px;
		@include media-1180(){
			padding: 0;
		}
		@include xxs-block(){
			background-color: inherit;
		}
	}
	
	.faq_info_header{
		font-size: 50px;
		margin-bottom: 21px;
		@include xxs-block(){
			font-size: 24px;
		}
		

	}
	.faq_request_text{
		margin-bottom: 34px;
		@include xxs-block(){
			font-weight: 400;
		}
	}

