@import 'abstract/smart-grid';
@import 'abstract/variables';
@import 'abstract/media';



@import 'all';
@import 'request-form';

@import 'layout/header';
@import 'layout/menu';
@import 'layout/response-menu';
@import 'layout/footer';

@import 'section/company';
@import 'section/delivery';
@import 'section/products';
@import 'section/advantages';
@import 'section/partners';
@import 'section/excellence';
@import 'section/about-order';
@import 'section/request';
@import 'section/map';

@import 'components/buttons';

@import 'about-company';
@import 'about-gost';
@import 'contacts';
@import 'faq';
@import 'products';
@import 'armature';
@import 'product';
@import 'price';




.debug{
    //@include debug(rgba(0, 0, 0, 0.5), 1px solid #ff0);
    div{
    	 box-sizing: content-box;
    }
   
}
.container{
	box-sizing: content-box;
}