.price{
     .price_bg{
         background: url(../img/price-bg.jpg) no-repeat 50%;
         margin-bottom: 69px;
         padding-top: 154px;
         padding-bottom: 150px;
         @include sm-block(){
             padding: 100px 0;
        }
         @include xs-block(){
             padding: 80px 0;
        }
         @include xxs-block(){
             padding: 80px 0;
        }
         @include xxs-block(){
             padding: 55px 0;
             margin-bottom: 30px;
        }
    }
     .price_header-row{
         @include row-flex();
         justify-content: center;
    }
     .price_header{
         text-align: center;
         font-size: 60px;
         font-weight: 700;
         text-transform: uppercase;
         @include sm-block(){
             font-size: 50px;
        }
         @include xs-block(){
             font-size: 35px;
        }
         @include xxs-block(){
             font-size: 24px;
        }
         span{
             text-transform: none;
             font-size: 60px;
             display: block;
             font-weight: 400;
             @include sm-block(){
                 font-size: 50px;
            }
             @include xs-block(){
                 font-size: 35px;
            }
             @include xxs-block(){
                 font-size: 24px;
            }
        }
    }
     .price_convenience-row{
         @include row-flex();
         justify-content: center;
    }
     .price_convenience_header{
         text-align: center;
         margin-bottom: 16px;
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         @include col();
         @include size(7);
         @include size-xxs(12);
         @include xxs-block(){
             font-size: 16px;
        }
    }
     .price_convenience_text{
         text-align: center;
         margin-bottom: 36px;
         font-size: 16px;
         font-weight: 400;
         line-height: 25px;
         @include col();
         @include size(7);
         @include size-xxs(11);
         @include offset-left(2);
         @include offset-right(2);
         @include offset-left-xxs(0);
         @include offset-right-xxs(0);
         @include xxs-block(){
             margin-bottom: 32px;
        }
    }
     .price_convenience_item{
         background-color: #242427;
         margin-bottom: 80px;
         padding: 19px 41px;
         padding-bottom: 27px;
         @include col();
         @include size(3);
         @include size-sm(6);
         @include sm-block(){
             margin-bottom: 30px;
        }
         @include media-1180(){
             padding-left: 10px;
             padding-right: 10px;
        }
         @include size-xs(11);
         @include size-xxs(12);
         @include xxs-block(){
             background-color: inherit;
             display: flex;
             align-items: center;
             margin-bottom: 0px;
             padding: 5px;
        }
    }
     .convenience_item_numb{
         text-align: center;
         margin-bottom: 6px;
         color: #5f626e;
         font-size: 90px;
         @include xxs-block(){
             font-size: 60px;
             margin-right: 30px;
        }
    }
     .convenience_item_text{
         font-size: 16px;
         font-weight: 700;
         line-height: 25px;
         text-align: center;
         @include xxs-block(){
             text-align: left;
        }
    }
     .price_service-row{
         @include row-flex();
         justify-content: center;
         @include sm-block(){
             background-color: #242427;
             margin-bottom: 40px;
        }
         @include sm-block(){
             margin-bottom: 20px;
        }
    }
     .price_convenience_service{
         margin-bottom: 80px;
         background-color: #242427;
         padding: 69px 58px 94px 52px;
         @include col();
         @include size(4);
         @include media-1180(){
             @include size(5);
        }
    }
     .convenience_service_left{
         @include offset-left(1);
         @include media-1180(){
             @include offset-left(0);
        }
         @include media-900(){
             display: flex;
             flex-direction: column;
             padding-left: 10px;
             padding-right: 10px;
        }
         @include size-sm(10);
         @include sm-block(){
             margin-bottom: 0;
        }
         @include sm-block(){
             padding-top: 50px;
             padding-bottom: 25px;
        }
        @include size-xxs(12);
    }
     .convenience_service_btn{
         text-align: center;
         margin-top: auto;
    }
     .convenience_service_right{
         @include offset-right(1);
         @include media-1180(){
             @include size(5);
             padding: 79px 20px 80px 20px;
        }
         padding: 79px 52px 80px 52px;
         @include media-1180(){
             @include offset-right(0);
        }
         @include media-900(){
             display: flex;
             flex-direction: column;
             padding-left: 10px;
             padding-right: 10px;
        }
         @include size-sm(10);
         @include sm-block(){
             margin-bottom: 0;
        }
         @include sm-block(){
             padding-top: 0px;
             padding-bottom: 70px;
        }
        @include size-xxs(12);
    }
     .convenience_service_middle{
         align-self: center;
         @include col();
         @include size(2);
         @include media-900(){
             margin-left: 0px;
             margin-right: 0px;
        }
         @include size-sm(10);
         @include sm-block(){
             margin-bottom: 0;
        }
         @include sm-block(){
             padding: 0;
             margin: 0;
        }
         .convenience_service_text{
         	 text-align: center;
             @include sm-block(){
             	margin: 0 auto;
                 
				
            }
            @include size-xxs(12);
        }
    }
     .convenience_service_text{
         margin-bottom: 43px;
         text-align: center;
         font-size: 24px;
         font-weight: 500;
         line-height: 38px;
         @include media-900(){
             font-size: 20px;
        }
         @include sm-block(){
             padding: 0;
             margin-bottom: 25px;
        }
         span{
             font-weight: 700;
             color: #00d181;
        }
        @nclude xxs-block(){
        	font-style: 16px;
        }
    }
}
.price-request{
	padding-bottom: 55px;
	@include media-1180(){
		margin-bottom: 0;
	}
	
}


 .price_info_header{
     color: #00fe9d;
     font-weight: 700;
     line-height: 48px;
     font-size: 50px;
     text-align: left;
     padding-top: 118px;
     margin-bottom: 12px;
     span{
         display: block;
         font-size: 30px;
         margin-top: 10px;
         @include xxs-block(){
    	font-size: 16px;
    	margin-top: 10px;
    	}
    }
    @include media-1180(){
    	text-align: center;
    }
    @include xs-block(){
		padding-top: 50px;
	}
	
    @include xxs-block(){
    	text-align: center;
    	font-size: 24px;
    	line-height: 28px;
    	margin-bottom: 20px;
    	padding-top: 20px;
    }
}
 .price_request_text{
     color: #002e1c;
     font-size: 16px;
     font-weight: 500;
     line-height: 26px;
     @include media-1180(){
     	color: #cccccc;
     	
     }
     @include xxs-block(){
     	text-align: center;
     }
}
