.page-products{
     .products-page_title_bg{
         background: url('../img/products-bg.jpg') no-repeat 50%;
         padding: 156px 0;
         margin-bottom: 59px;
          @include xxs-block(){
         padding: 56px 0;
         margin-bottom: 20px;
         }
    }
    .prokat-page_title_bg{
    	background: url('../img/prokat-bg.jpg') no-repeat 50%;
    	margin-bottom: 59px;
    	 padding: 194px 0;
    	@include xxs-block(){
         padding: 56px 0;
         margin-bottom: 20px;
         }
    }
     .products-page_title{
         text-align: center;
         max-width: 85%;
         margin: 0 auto;
         line-height: 76px;
         font-size: 60px;
         @include sm-block(){
         	max-width: 100%;
         }
         @include xs-block(){
         	font-size: 50px;
         }
          @include xxs-block(){
         	font-size: 24px;
         	 line-height: 35px;
         }
         span{
             font-weight: 700;
        }
    }
     .products-row{
         justify-content: center;
         margin-bottom: 58px;
         @include row-flex();
         @include md-block(){
         	 margin-bottom: 10px;
         }
    }
     .products_item{
         padding: 35px 30px;
         padding-bottom: 0;
         @include col();
         @include size(4);
         @include media-900(){
         	@include size(6);
         }
          @include media-600(){
         	@include size(10);
         }
         @include size-xs(12);
    }
    .prokat_item{
    	 padding: 35px 30px;
         padding-bottom: 0;
         @include col();
         @include size(3);
         @include media-1180(){
         	@include size(6);
         }
         @include size-xs(12);
    }

     .products_title{
         margin-bottom: 8px;
         text-decoration: underline;
         color: #00d181;
         font-size: 16px;
         font-weight: 700;
         display: block;
         margin-bottom: 25px;
    }
    
     .metal-cutting{
         background: url('../img/rezka-bg.jpg') no-repeat 50%;
         padding: 121px 0;
         margin-bottom: 73px;
          @include media-1180(){
          	background:none;
          	text-align: center;
          	 padding: 21px 0;
          }
          @include media-320(){
          	padding-top: 35px;
          	padding-bottom: 285px;
          	background: url('../img/rezka-bg-mob.jpg') no-repeat 50%;
          }
    }
     .metal-cutting_title{
         line-height: 100px;
         color: #00ce7f;
         font-size: 186px;
         font-weight: 700;
         letter-spacing: 10.8px;
         margin-bottom: 90px;
         @include media-1180(){
         	font-size: 126px;
         	margin-bottom: 50px;
         }
         @include md-block(){
         	font-size: 100px;
         	margin-bottom: 25px;
         	line-height: 75px;
         }
         @include xs-block(){
         	font-size: 50px;
         	margin-bottom: 15px;
         	line-height: 50px;
         }
     
    }
     .metal-cutting_text{
         width: 50%;
         color: #00ce7f;
         font-weight: 700;
         font-size: 46px;
         letter-spacing: 5.4px;
          @include media-1180(){
          	width: 100%;
          }
          @include md-block(){
         	 font-size: 36px;
         }
         @include xs-block(){
         	font-size: 26px;
         	
         }
         @include xxs-block(){
         	color: #cccccc;
         	font-size: 16px;
			line-height: 24px;
			letter-spacing: 0.96px;
         }
    }
     .sale-products{
         margin-top: 143px;
         margin-bottom: 128px;

          @include media-900(){
         	 margin-top: 43px;
         	 margin-bottom: 28px;
         }
    }
     .sale-products-row{
         @include row-flex();
         justify-content: center;
    }
     .sale-products_img{
         @include col();
         @include size(6);
         @include media-900(){
         	display: none;
         }
    }
     .sale-products_info{
         @include col();
         @include size(5);
         @include offset-left(1);
         @include media-1180(){
         	@include size(6);
         	@include offset-left(0);
         }
         @include media-900(){
         	@include size(8);
         }
         @include size-xs(10);
         @include size-xxs(12);
    }
     .sale_info_title{
         color: #00ce7f;
         font-size: 30px;
         font-weight: 700;
         line-height: 46px;
         margin-bottom: 47px;
         letter-spacing: 1.8px;
          @include media-900(){
         	text-align: center;
         }
         @include xs-block(){
         	color: #cccccc;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
         }
         @include xxs-block(){
			font-size: 16px;
         }
    }
     .sale_info_item{
         display: flex;
         align-items: center;
         margin-bottom: 27px;
         padding-right: 24px;
         img{
             margin-right: 20px;
        }
         span{
             font-size: 16px;
             font-weight: 700;
             line-height: 22px;
             @include xxs-block(){
             	

			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
             }
        }
    }
     .products-request{
         margin-top: 0;
         margin-bottom: -120px;
         position: relative;
         z-index: 100;
          @include xxs-block(){
          	margin-bottom: 0;
          }
    }

     .products_request_info{
         padding-bottom: 104px;
         @include xs-block(){
         	padding-bottom: 50px;
         }

    }
    .products_info_header{
    	font-size: 50px;
		font-weight: 700;
		line-height: 50px;
		 padding-right: 65px;
		 margin-bottom: 20px;
		 @include media-900(){
		 	padding-right: 0px;
		 }
		 @include xxs-block(){
		 	font-size: 24px;
		 	line-height: 35px;
		 }
		    }
}
 