.one-product{
     margin-bottom: 70px;
     .product-row{
         @include row-flex();
         justify-content: center;
    }
     .product_gallery{
         @include col();
         @include size(1);
         @include size-md(10);
         @include size-sm(12);
         @include md-block(){
             order: 2;
             position: relative;
             margin-bottom: 30px;
        }
         align-self:center;
    }
     .product_img{
         @include col();
         @include size(5);
         @include size-md(12);
         @include size-sm(10);
         @include size-xs(8);
         @include size-xxs(12);
         @include md-block(){
             order: 1;
             text-align: center;
             margin-bottom: 30px;
        }
    }
     .product_info{
         @include col();
         @include size(6);
         @include size-md(10);
         @include size-xxs(12);
         @include md-block(){
             order: 3;
        }
    }
     .product_header, .product_header-ressponsive{
         font-size: 24px;
         font-weight: 500;
         line-height: 30px;
         text-transform: uppercase;
         margin-bottom: 40px;
    }
     .product_header{
         @include md-block(){
             display: none;
        }
    }
     .product_header-ressponsive{
         display: none;
         @include md-block(){
             display: block;
        }
         @include xxs-block(){
             font-size: 16px;
             font-weight: 400;
        }
    }
     .product_details, .product_text{
         font-size: 16px;
         color: #5f626e;
         margin-bottom: 37px;
         span{
             color: #cccccc;
        }
    }
     .product_text{
         color: #cccccc;
    }
     .product_info_price{
         display: flex;
         @include xs-block(){
             flex-direction: column;
             align-items: center;
        }
    }
     .product_info_price_items{
         width: 50%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: space-between;
         @include xs-block(){
             width: 100%;
             margin-bottom: 26px;
        }
    }
     .product_gallery_item{
         padding: 2px 0;
         opacity: 0.6;
         @include md-block(){
             padding: 0 5px;
        }
    }
     .product_info_price_items{
         margin-right: 15px;
    }
     .product_price{
         font-size: 24px;
         font-weight: 600;
         margin-bottom: 10px;
    }
     .product_available{
         color: #00d181;
         font-size: 16px;
         font-weight: 700;
    }
     .rotate-right{
         transform: rotate(90deg);
         margin-bottom: -10px;
         @include md-block(){
             position: absolute;
             top:-260px;
             left: 10px;
             transform: rotate(0deg);
             margin-bottom: 0;
        }
         @include xs-block(){
             top:-250%;
        }
         @include xxs-block(){
             top: -350%;
             left: -15px;
        }
    }
     .rotate-left{
         transform: rotate(90deg);
         margin-top: 20px;
         @include md-block(){
             position: absolute;
             top:-260px;
             right: 10px;
             transform: rotate(0deg);
             margin-top: 0px;
        }
         @include xs-block(){
             top:-250%;
        }
         @include xxs-block(){
             top: -350%;
             right: -15px;
        }
    }
     .slick-current{
         div{
             .product_gallery_item{
                 opacity: 1;
            }
        }
    }
}
 .gost-product-row{
     @include row-flex();
     justify-content: center;
}
 .gost-product_item{
     @include col();
     @include size(8);
     @include size-md(10);
     @include size-sm(12);
}
 .gost-product_header{
     font-size: 24px;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
     margin-bottom: 39px;
}
 