 .request_form{
         @include col();
         @include size(5);
         display: flex;
         flex-direction: column;
         align-items: center;
         @include media-1180(){
             @include size(10);
             padding-bottom:30px;
        }
         @include size-sm(12);
         @include xxs-block(){
             background-color: #232427;
             box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.8);
             padding:20px 0;
        }
    }
     .request_form_header{
         padding-top: 59px;
         margin-bottom: 25px;
         font-size: 24px;
         font-weight: 500;
         line-height: 25px;
         text-transform: uppercase;
         @include sm-block(){
             font-size: 16px;
             font-weight: 700;
             padding-top: 20px;
        }
    }
     .request_input, .request_textarea{
         width: 57%;
         background-color: inherit;
         outline: none;
         border: none;
         border-bottom: 1px solid #00d181;
         padding: 10px;
         margin-bottom: 21px;
         color: #ababaf;
         @include xxs-block(){
             width: 70%;
        }
         &::placeholder{
             color: #ababaf;
                 @include xxs-block(){
                 font-size: 16px;
            }
        }
    }
   
     .form_text, .form_link{
         font-size: 14px;
         font-weight: 400;
         line-height: 18px;
    }
     .form_text {
         padding:0 89px;
         text-align: center;
         @include sm-block(){
             padding:0 20px;
        }
         @include xxs-block(){
             display: none;
        }
    }
     .form_text-mob{
         display: none;
         font-size: 16px;
         font-weight: 400;
         line-height: 24px;
         max-width: 60%;
         text-align: center;
         @include xxs-block(){
             display: block;
        }
    }
     .form_link{
         text-decoration: underline;
         @include xxs-block(){
             display: block;
             font-weight: 700;
             font-size: 16px;
        }
    }


