
<section class="about-order">
  <div class="container">
    <div class="row row-about_order">
      <h2 class="about-order_header">Схема заказа</h2>
      <div class="order_item next_step">
        <div class="order_content">
          <div class="order_step">
            <div class="order_numb">1</div>
          </div>
          <div class="order_img"><svg width="100" height="98">
<use xlink:href="/img/sprite.svg#item-1"></use>
          </div>
          <div class="order_text">Добавьте нужную продукцию в корзину</div>
        </div>
      </div>
      <div class="order_item next_step">
        <div class="order_content">
          <div class="order_step">
            <div class="order_numb">2</div>
          </div>
          <div class="order_img"><svg width="82" height="100">
<use xlink:href="/img/sprite.svg#item_2"></use>
          </div>
          <div class="order_text">Подтвердите заказ с менеджером </div>
        </div>
      </div>
      <div class="order_item next_step">
        <div class="order_content">
          <div class="order_step">
            <div class="order_numb">3</div>
          </div>
          <div class="order_img"><svg width="100" height="67">
<use xlink:href="/img/sprite.svg#item_3"></use>
          </div>
          <div class="order_text">Оформите и оплатите заказ на нашем сайте</div>
        </div>
      </div>
      <div class="order_item">
        <div class="order_content">
          <div class="order_step">
            <div class="order_numb order_final">!</div>
          </div>
          <div class="order_img"><svg width="100" height="63">
<use xlink:href="/img/sprite.svg#item_4"></use>
          </div>
          <div class="order_text">Готово! Груз доставим к вашим дверям</div>
        </div>
      </div>
    </div>
    <div class="order_title_link">Перейти в каталог и выбрать продукцию</div>
    <div class="order_btn"><a class="order_btn_link go_to_page">В каталог</a></div>
  </div>
</section>