
<section class="advantages">
  <div class="container">
    <div class="row advantages-row">
      <div class="advantages_info">
        <div class="advantages_item item_left">
          <div class="advantages_title"><img src="img/check.png" alt=""/><span>Фиксированные цены на сайте</span></div>
          <div class="advantages_text">Вам не нужно ждать, пока менеджер вышлет коммерческое предложение с актуальными ценами. Платите ровно столько, сколько указано на сайте</div>
        </div>
        <div class="advantages_item item_left">
          <div class="advantages_title"><img src="img/check.png" alt=""/><span>Найдите, что искали</span></div>
          <div class="advantages_text">Наш каталог металлопрокатной продукции насчитывает более 20 000 позиций, которые всегда есть в наличии на складе! </div>
        </div>
      </div>
      <div class="advantages_img"><img src="img/material.png" alt=""/></div>
      <div class="advantages_info">
        <div class="advantages_item item_right">
          <div class="advantages_title"><img class="title_img" src="img/check.png" alt=""/><span>Получите заказ в срок</span></div>
          <div class="advantages_text">Отправляем грузы 24/7 с собственного склада. Вы получите заказ точно в срок и без опозданий, так как мы отслеживаем передвижение каждой машины в пути</div>
        </div>
        <div class="advantages_item item_right">
          <div class="advantages_title"><img class="title_img" src="img/check.png" alt=""/><span>Выбирайте удобную форму оплаты</span></div>
          <div class="advantages_text">Оплатить заказ вы можете 3 способами на выбор: наличными, безналичный расчет и банковской картой online на сайте</div>
        </div>
      </div>
    </div>
  </div>
</section>