
<section class="request company-request">
  <div class="container">
    <div class="row request-row">
      <div class="request_info company_request_info">
        <h2 class="request_info_header company_info_header">Есть вопрос? <span class="request_info_str">Задайте его нам!</span></h2>
        <div class="request_text company_request_text">Наш консультант ответит на все ваши вопросы. <span>Перезваниваем в течение 10 минут.</span></div>
      </div>
      <div class="request_form">
        <h2 class="request_form_header">Заполните форму</h2>
        <input class="request_input" type="text" placeholder="Ваше имя"/>
        <input class="request_input" type="text" placeholder="Ваш телефон"/>
        <button class="request_btn js-request-btn">Отправить</button>
        <div class="form_text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия</div>
        <div class="form_text-mob">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
      </div>
    </div>
  </div>
</section>