  <section class="company">
          <div class="container">
            <h1 class="company_header">Компания по продаже<br /><span>металлопроката в рф</span></h1>
            <div class="company_text">Покупайте продукцию оптом и в розницу по фиксированной цене на сайте</div>
          </div>
        </section>
       