    <section class="delivery">
          <div class="container">
            <div class="delivery-row">
              <div class="delivery_info">
                <h2 class="delivery_header">Выгодная доставка</h2>
                <div class="delivery_title">Отправим до 20 наименований металлопродукции в одном заказе без повышения цены доставки.</div>

                <div class="delivery_cheked">
                  <svg width="23" height="22">
                <use xlink:href="/img/sprite.svg#check-del"></use>
              </svg><span>От 3 часов - доставка по Москве	</span>
            </div>

                <div class="delivery_cheked">
                  <svg width="23" height="22">
                <use xlink:href="/img/sprite.svg#check-del"></use>
              </svg><span>1-7 дней* – доставка по всей РФ</span></div>
              <div class="consultation_btn">
                <a class="consultation_btn_link js-consultation-btn" href="#">Заказать консультацию</a>
              </div>
              
                <div class="notice">*в зависимости от региона доставки</div>
              </div>
                 </div>
          </div>
        </section>