
<section class="excellence">
  <div class="container">
    <h2 class="excellence_header">Наши преимущества</h2>
    <div class="row row-excellence">
      <div class="excellence_item">
        <div class="excellence_img"><svg width="32" height="40">
<use xlink:href="/img/sprite.svg#award"></use>
        </div>
        <div class="excellence_box">
          <div class="excellence_title">Качество</div>
          <div class="excellence_text">Вся продукция сертифицирована и соответствует ГОСТу!</div>
        </div>
      </div>
      <div class="excellence_item">
        <div class="excellence_img"><svg width="44" height="40">
<use xlink:href="/img/sprite.svg#hand"></use>
        </div>
        <div class="excellence_box">
          <div class="excellence_title">Сервис</div>
          <div class="excellence_text">Мы предлагаем нашим клиентам сервис высокого уровня. </div>
        </div>
      </div>
      <div class="excellence_item">
        <div class="excellence_img"><svg width="40" height="40">
<use xlink:href="/img/sprite.svg#tag"></use>
        </div>
        <div class="excellence_box">
          <div class="excellence_title">Скидки</div>
          <div class="excellence_text">Индивидуальные скидки клиентам при заказе от 5 тонн. </div>
        </div>
      </div>
      <div class="excellence_item">
        <div class="excellence_img"><svg width="40" height="40">
<use xlink:href="/img/sprite.svg#suitcase"></use>
        </div>
        <div class="excellence_box">
          <div class="excellence_title">Опыт</div>
          <div class="excellence_text">Мы работаем в сфере металлопроката уже более 11 лет. </div>
        </div>
      </div>
    </div>
  </div>
</section>