
<section class="request company-request faq-request">
  <div class="container">
    <div class="row request-row">
      <div class="request_info faq_request_info">
        <h2 class="request_info_header faq_info_header">Не нашли ответа?</span></h2>
        <div class="request_text faq_request_text">Не проблема! Наши консультанты всегда готовы помочь.</div>
        <div class="request_text faq_request_text">Оставьте заявку, и мы с радостью ответим на все ваши 
вопросы уже через 10 минут.</div>
      </div>
      <div class="request_form">
        <h2 class="request_form_header">Задать вопросу</h2>
        <input class="request_input" type="text" placeholder="Ваше имя"/>
        <input class="request_input" type="text" placeholder="Ваш телефон"/>
        <button class="request_btn js-request-btn">Отправить</button>
        <div class="form_text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия</div>
        <div class="form_text-mob">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
      </div>
    </div>
  </div>
</section>