
<section class="partners">
  <div class="container">
    <h2 class="partners_header">Наши партнеры</h2>
    <div class="partners-row js-slick-partners">
      <div class="partners_item"><img src="img/256.png" alt=""/></div>
      <div class="partners_item"><img src="img/259.png" alt=""/></div>
      <div class="partners_item"><img src="img/246.png" alt=""/></div>
      <div class="partners_item"><img src="img/253.png" alt=""/></div>
      <div class="partners_item"><img src="img/247.png" alt=""/></div>
      <div class="partners_item"><img src="img/246.png" alt=""/></div>
      <div class="partners_item"><img src="img/256.png" alt=""/></div>
      <div class="partners_item"><img src="img/259.png" alt=""/></div>
      <div class="partners_item"><img src="img/246.png" alt=""/></div>
      <div class="partners_item"><img src="img/253.png" alt=""/></div>
      <div class="partners_item"><img src="img/247.png" alt=""/></div>
      <div class="partners_item"><img src="img/246.png" alt=""/></div>
    </div>
  </div>
</section>