
<section class="request company-request price-request">
  <div class="container">
    <div class="row request-row">
      <div class="request_info price_request_info">
        <h2 class="price_info_header">Оставьте заявку
 <span>и получите персональную скидку!</span></h2>
        <div class="request_text faq_request_text">Выгодная система скидок для оптовых покупателей!</div>
        <div class="price_request_text">Оставьте заявку, и наш менеджер свяжется с вами
через 10 минут, и предложит выгодные условия
сотрудничества!</div>
      </div>
      <div class="request_form">
        <h2 class="request_form_header">Получить скидку!</h2>
        <input class="request_input" type="text" placeholder="Ваше имя"/>
        <input class="request_input" type="text" placeholder="Ваш телефон"/>
        <button class="request_btn js-request-btn">Отправить</button>
        <div class="form_text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия</div>
        <div class="form_text-mob">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
      </div>
    </div>
  </div>
</section>