 <section class="products">
          <div class="container">
           
              <div class="products_info">
              <div class="info_item"><svg width="40" height="27">
                <use xlink:href="/img/sprite.svg#delivery-truck"></use>
              </svg>
                <div class="info_title">Отправляем 24/7 </div>
              </div>
              <div class="info_item"><svg width="40" height="40">
                <use xlink:href="/img/sprite.svg#storage"></use>
              </svg>
                <div class="info_title">Собственный склад</div>
              </div>
              <div class="info_item"><svg width="34" height="40">
                <use xlink:href="/img/sprite.svg#checklist"></use>
              </svg>
                <div class="info_title">Более 20 000 позиций</div>
              </div>
              <div class="info_item"><svg width="26" height="40">
                <use xlink:href="/img/sprite.svg#operator"></use>
              </svg>
                <div class="info_title">Online-заказ</div>
              </div>
            </div>
            
            <div class="products_items">
              <div class="product">
                <div class="product_img"><img src="img/item_1.png" alt=""></div>
                <div class="product_title">Сортовой прокат</div>
                <svg class="product_svg" width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
              <div class="product">
                <div class="product_img"><img src="img/item_2.png" alt=""></div>
                <div class="product_title">Листовой прокат</div>
                <svg class="product_svg" width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
              <div class="product">
                <div class="product_img"><img src="img/item_3.png" alt=""></div>
                <div class="product_title">Трубы</div>
                <svg class="product_svg" width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
              <div class="product">
                <div class="product_img"><img src="img/item_4.png" alt=""></div>
                <div class="product_title">Метизы и метсырье</div>
                <svg class="product_svg" width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
              <div class="product">
                <div class="product_img"><img src="img/item_5.png" alt=""></div>
                <div class="product_title">Нержавеющая сталь</div>
                <svg class="product_svg"width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
              <div class="product">
                <div class="product_img"><img src="img/item_6.png" alt=""></div>
                <div class="product_title">Цветные металлы</div>
                <svg class="product_svg"width="32px" height="26px">
          <use xlink:href="/img/sprite.svg#product-arrow"></use>
      </svg>
              </div>
            </div>
            <div class="all_products_btn">
              <a class="all_products_link" href="#">Вся продукция</a>
            </div>
            
          </div>
        </section>