
<section class="request">
  <div class="container">
    <div class="row request-row">
      <div class="request_info">
        <h2 class="request_info_header">Оставьте заявку</h2>
        <div class="request_text">И бесплатно получите смету и расчет за 10 минут! </div>
        <ul class="request_items">
          <li class="request_item"><img class="request_img" src="img/check-green.png" alt=""/><span>Рассчитаем количество продукции для объекта</span></li>
          <li class="request_item"><img class="request_img" src="img/check-green.png" alt=""/><span>Составим персональную смету </span></li>
          <li class="request_item"><img class="request_img" src="img/check-green.png" alt=""/><span>Поможем подобрать металлопрокат</span></li>
        </ul>
      </div>
      <div class="request_form">
        <h2 class="request_form_header">Заполните форму</h2>
        <input class="request_input" type="text" placeholder="Ваше имя"/>
        <input class="request_input" type="text" placeholder="Ваш телефон"/>
        <button class="request_btn js-request-btn">Отправить</button>
        <div class="form_text">Нажимая "Отправить", вы даёте согласие на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ «О персональных данных» и принимаете условия</div>
        <div class="form_text-mob">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
      </div>
    </div>
  </div>
</section>