
<footer class="footer">
  <div class="top_footer">
    <div class="container">
      <div class="row footer-row">
        <div class="menu_col footer_nav">
          <nav class="menu-nav">
            <li class="menu_item"><a class="menu_link" href="#">Карта сайта</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Продукция</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Прайс</a></li>
            <li class="menu_item"><a class="menu_link" href="#">О нас</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Сертификаты</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Доставка и оплата</a></li>
            <li class="menu_item"><a class="menu_link" href="#">FAQ</a></li>
            <li class="menu_item"> <a class="menu_link" href="#">Контакты</a></li>
          </nav>
        </div>
        <div class="menu_col footer_cantacts">
          <div class="contacts_item">
            <div class="contacts_item_title">Телефоны</div><a class="str" href="tel:+77777777777" rel="nofollow">+7 (777) 777-77-77</a><a class="str" href="tel:+77777777777" rel="nofollow">+7 (777) 777-77-77</a>
          </div>
          <div class="contacts_item">
            <div class="contacts_item_title">Вопросы и предложения</div><a class="str" href="mailto:sales@asap.ru">sales@asap.ru</a>
          </div>
          <div class="contacts_item">
            <div class="contacts_item_title">Офис</div><span class="str">г. Москва, ул. Суворовская, 19/9</span><span class="str">8:00 - 21:00</span>
          </div>
        </div>
        <div class="menu_col footer_service">
          <ul class="service">
            <li class="service_item">
              <div class="service_item_svg">
                <svg width="16" height="13">
                  <use xlink:href="/img/sprite.svg#left-arrow"></use>
                </svg>
              </div><a class="service_item_link" href="#">Калькулятор доставки</a>
            </li>
            <li class="service_item">
              <div class="service_item_svg">
                <svg width="16" height="13">
                  <use xlink:href="/img/sprite.svg#left-arrow"></use>
                </svg>
              </div><a class="service_item_link" href="#">Калькулятор арматуры</a>
            </li>
            <li class="service_item">
              <div class="service_item_svg">
                <svg width="12" height="16">
                  <use xlink:href="/img/sprite.svg#user"></use>
                </svg>
              </div><a class="service_item_link" href="#">Вход / Регистрация</a>
            </li>
            <li class="service_item">
              <div class="service_item_svg">
                <svg width="13" height="16">
                  <use xlink:href="/img/sprite.svg#arrow"></use>
                </svg>
              </div><a class="service_item_link" href="#">Скачать прайс-лист</a>
            </li>
            <li class="service_item callback js-footer-callback">
              <svg class="footer-icon-grey" width="16" height="16">
                <use xlink:href="/img/sprite.svg#footer-tel"></use>
              </svg>
              <svg class="footer-icon-green" width="16" height="16">
                <use xlink:href="/img/sprite.svg#telephone"></use>
              </svg>
              <a class="service_item_callback" href="#">Обратный звонок</a>
            </li>
            <li class="service_item cards">
              <svg class="cards_svg" width="38" height="24">
                <use xlink:href="/img/sprite.svg#master-card-logo"></use>
              </svg>
              <svg class="cards_svg" width="39" height="12">
                <use xlink:href="/img/sprite.svg#visa"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom_footer">
    <div class="container">
      <div class="footer-row-bottom">
        <div class="footer_item footer_license"><a class="footer_bottom_link" href="#">Пользовательское соглашение</a></div>
        <div class="footer_item footer_center">
          <div class="footer_logo"><img class="footer_logo_img" src="img/logo.png" alt=""/></div>
          <div class="footer_text">Продажа металлопроката в Москве и РФ</div>
        </div>
        <div class="footer_item footer_made">
          <div class="footer_text"><span>Разработано в</span><img class="develop_logo" src="img/ayeps.png" alt=""/></div>
        </div>
      </div>
    </div>
  </div>
</footer>