 <header class="header">
 <div class="response_menu js-menu">
    <img class="response_close js-menu-close" src="img/menu-close.png" alt="">
    <input class="response_search" type="text" placeholder="Поиск по сайту">
    <div class="response_enter">
      <svg width="12px" height="16px">
          <use xlink:href="/img/sprite.svg#man"></use>
      </svg>
      <span>Вход</span>

    </div>
    <div class="response_cart">
      <svg width="17px" height="16px">
          <use xlink:href="/img/sprite.svg#shopping-cart"></use>
      </svg>
      <span class="cart_title">Товаров в корзине:</span>
       <span class="cart_count">12</span>
    </div>
    <nav class="response_nav">
      <ul class="response_list">
        <li class="response_list_item js-item-link"><a class="dropdown_link" href="#">О нас</a>
 <ul class="dropdown-child-mob">
                  <li class="dropdown_child_item"><a href="">О компании</a></li>
                  <li class="dropdown_child_item"><a href="#">ГОСТы и ТУ</a></li>
                </ul>
        </li>
        <li class="response_list_item  js-item-link"><a class="dropdown_link" href="#">Продукция</a>
          <ul class="dropdown-child-mob">
                  <li class="dropdown_child_item"><a href="#">Сортовой прокат</a></li>
                  <li class="dropdown_child_item"><a href="#">Листовой прокат</a></li>
                  <li class="dropdown_child_item"><a href="#">Трубы</a></li>
                  <li class="dropdown_child_item"><a href="#">Метизы и метсырье</a></li>
                  <li class="dropdown_child_item"><a href="#">Нержавеющая сталь</a></li>
                  <li class="dropdown_child_item"><a href="#">Качественные стали</a></li>
                  <li class="dropdown_child_item"><a href="#">Цветные металлы</a></li>
                  </ul></li>
        <li class="response_list_item"><a href="#">Прайс</a></li>
        <li class="response_list_item"><a href="#">Доставка и оплата</a></li>
        <li class="response_list_item"><a href="#">FAQ</a></li>
        <li class="response_list_item"><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="response_info">
      <ul class="response_info_list">
         <li class="callback-response info_list_item"><svg width="16px" height="16px">
                <use xlink:href="/img/sprite.svg#telephone"></use>
              </svg><a href="#">Обратный звонок</a></li>

                  <li class="info_item-mob"><svg width="12px" height="12px">
                <use xlink:href="/img/sprite.svg#clock"></use>
              </svg><span>Доставка 24/7</span></li>

                  <li class="info_item-mob"><svg width="10px" height="12px">
                <use xlink:href="/img/sprite.svg#placeholder"></use>
              </svg><span>Работаем по всей РФ</span></li>

                  <li class="info_item-mob"><svg width="12px" height="10px">
                <use xlink:href="/img/sprite.svg#envelope"></use>
              </svg><span>sales@asap.ru</span></li>
    </div>

  </div>
        <div class="header-top">
          <div class="container">
            <div class="header-top-row">
              <div class="logo">
                <div class="logo_img"><a href="#"><img src="img/logo.png" alt="logo"></a></div>
                <div class="logo_title">11 ЛЕТ УСПЕШНОЙ РАБОТЫ</div>
              </div>
              <div class="info">
              
                <ul class="info_list">
                  <li class="info_list_item info_list_dekstop"><svg width="12px" height="12px">
                <use xlink:href="/img/sprite.svg#clock"></use>
              </svg><span>Доставка 24/7</span></li>

                  <li class="info_list_item info_list_dekstop"><svg width="10px" height="12px">
                <use xlink:href="/img/sprite.svg#placeholder"></use>
              </svg><span>Работаем по всей РФ</span></li>

                  <li class="info_list_item info_list_dekstop"><svg width="12px" height="10px">
                <use xlink:href="/img/sprite.svg#envelope"></use>
              </svg><span>sales@asap.ru</span></li>

                  <li class="info_list_item"><a href="#"><svg width="17px" height="16px">
                <use xlink:href="/img/sprite.svg#shopping-cart"></use>
              </svg></a><span class="count">12</span></li>

                  <li class="info_list_item"><a href="#"><svg width="12px" height="16px">
                <use xlink:href="/img/sprite.svg#man"></use>
              </svg></a><span>Вход</span></li>

                  <li class="info_list_item callback-header"><svg width="16px" height="16px">
                <use xlink:href="/img/sprite.svg#telephone"></use>
              </svg><a href="#">Обратный звонок</a></li>

             
                </ul>

                <ul class="info-mob">
                       <li class="info_list_item info-mob_item">
                    <a href="#"><svg width="17px" height="16px">
                <use xlink:href="/img/sprite.svg#mob-cart"></use>
              </svg></a><span class="count">12</span>
                </li>

                <li class="info_list_item info-mob_item"><a href="#">
                  <svg width="12px" height="16px">
                <use xlink:href="/img/sprite.svg#user"></use>
              </svg>
                </a></li>

                <li class="info_list_item info-mob_item"><a href="#">
                  <svg width="16px" height="16px">
                <use xlink:href="/img/sprite.svg#mob-tel"></use>
              </svg>
                </a></li>
                </ul>
              <div class="burger js-menu-open">
                <div class="burger_item"></div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu">
          <div class="container">
            <div class="menu-row">
              <nav class="nav-menu">
                <ul class="menu_items">
                <li class="menu_item dropdown"><a class="dropdown_link" href="#">О нас</a>
                <ul class="dropdown-child company-width">
                  <li class="dropdown-child_item"><a href="#">О компании</a></li>
                  <li class="dropdown-child_item"><a href="#">ГОСТы и ТУ</a></li>
                </ul>
                </li>
                <li class="menu_item dropdown"><a class="dropdown_link" href="#">Продукция</a>
                <ul class="dropdown-child produsts-width">
                  <li class="dropdown-child_item"><a href="#">Сортовой прокат</a></li>
                  <li class="dropdown-child_item"><a href="#">Листовой прокат</a></li>
                  <li class="dropdown-child_item"><a href="#">Трубы</a></li>
                  <li class="dropdown-child_item"><a href="#">Метизы и метсырье</a></li>
                  <li class="dropdown-child_item"><a href="#">Нержавеющая сталь</a></li>
                  <li class="dropdown-child_item"><a href="#">Качественные стали</a></li>
                  <li class="dropdown-child_item"><a href="#">Цветные металлы</a></li>
                  </ul>
                </li>
                <li class="menu_item"><a href="#">Прайс</a></li>
                <li class="menu_item"><a href="#">Доставка и оплата</a></li>
                <li class="menu_item"><a href="#">FAQ</a></li>
                <li class="menu_item"><a href="#">Контакты</a></li>
              </ul>
              </nav>
              <div class="search">
                <input placeholder="Поиск по сайту">
              </div>
            </div>
          </div>
        </div>
      </header>