.footer{
     background-color: #0e0f11;
     .top_footer{
         background: url('../img/footer-bg.png') no-repeat 50%;
         padding-top: 69px;
         padding-bottom: 53px;
         @include media-700(){
             background: url('../img/footer-bg.png') center top/cover no-repeat;
             padding-top: 40px;
             padding-bottom: 20px;
        }
    }
     .footer-row{
         justify-content: center;
    }
     .menu_col{
         @include col();
         @include size(4);
         @include media-900(){
             @include size(5);
        }
         @include size-sm(6);
         @include media-700(){
             @include size(12);
        }
    }
     .footer_nav{
         padding-left: 62px;
         @include media-900(){
             display: none;
        }
    }
     .menu_item{
         padding: 7px 0;
    }
     .menu_link{
         
         font-size: 16px;
         font-weight: 400;
    }
     .footer_cantacts{
         display: flex;
         flex-direction: column;
         align-items: center;
         @include media-700(){
             margin-bottom: 10px;
        }
    }
     .contacts_item{
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 23px;
         color:$text-color;
    }
     .contacts_item_title{
         font-size: 16px;
         color:$text-color;
         font-weight: 700;
         margin-bottom: 18px;
    }
     .str{
         font-size: 16px;
         font-weight: 400;
         padding: 2px 0;
    }
     .menu_title, .str{
         color:inherit;
    }
     .footer_service{
         display: flex;
         justify-content: flex-end;
         @include media-700(){
             justify-content: center;
        }
    }
     .service{
         padding-right: 29px;
         @include media-700(){
             padding-right: 0px;
        }
    }
     .service_item{
         display: flex;
         margin-bottom: 25px;
    }
     .service_item_link{
         
         font-size: 16px;
         font-weight: 400;
         text-decoration: underline;
         padding:0 5px;
    }
     .service_item_svg{
         width: 16px;
         text-align: center;
    }
     
     .cards{
         display: flex;
         align-items: center;
         &_svg{
             margin:0 5px;
             @include media-700(){
                 margin:0 15px;
            }
        }
         @include media-700(){
             justify-content: center;
        }
    }
     .bottom_footer{
         padding-top: 54px;
         padding-bottom: 42px;
         @include media-700(){
             padding:30px 10px;
        }
    }
     .footer-row-bottom{
         @include row-flex();
         align-items: center;
         justify-content: center;
    }
     .footer_item{
         @include col();
         @include size(4);
         @include media-700(){
             @include size(7);
             display: flex;
             justify-content: center;
             margin-bottom: 20px;
        }
         @include size-xs(10);
         @include size-xxs(11);
    }
     .footer_bottom_link{
         
         font-size: 16px;
         font-weight: 400;
         text-decoration: underline;
    }
     .footer_logo{
         text-align: center;
         &_img{
             margin-bottom: 5px;
        }
    }
     .footer_text{
         
         font-size: 16px;
         font-weight: 400;
         line-height: 25px;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         @include sm-block(){
             text-align: center;
        }
    }
     .footer_center{
         display: flex;
         flex-direction: column;
         align-items: center;
         @include media-700(){
             order:1;
        }
    }
     .footer_license{
         @include media-700(){
             order:3;
        }
    }
     .footer_made{
         @include media-700(){
             order:2;
        }
    }
     .develop_logo{
         margin-left: 5px;
    }
    .footer--has-form{
    padding-top: 165px;
    z-index: 10;
     @include xxs-block(){
        padding-top: 40px;
    }
}

}
