.header{
     background-color: #2a2b2f;
     box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.5);
     
     .header-top{
         border-bottom: 1px solid #46484f;
         @include md-block(){
             border: none;
             padding: 5px 0;
        }
    }
     .header-top-row{
         @include row-flex();
         align-items: center;
         @include xxs-block(){
             justify-content: space-between;
        }
    }
     .logo{
         align-items: center;
         @include col();
         @include size(3);
         @include media-1180(){
             width: 270px;
        }
         @include xs-block(){
             width: 96px;
        }
         @include xxs-block(){
             margin-right: 20px;
        }
         display: flex;
    }
     .logo_img{
         width: 140px;
         height: 44px;
         @include md-block(){
             width: 96px;
             height: 30px;
        }
    }
     .logo_title{
         
         font-weight: 400;
         width: 85px;
         padding:0 20px;
         display: flex;
         align-items: center;
         @include md-block(){
             font-size: 12px;
        }
         @include xs-block(){
             display: none;
        }
    }
     .info{
         @include col();
         @include size(9);
         @include media-1180(){
             width: calc(100% - 330px);
        }
         @include md-block(){
             display: flex;
             align-items: center;
             justify-content: flex-end;
        }
         @include xs-block(){
             width: calc(100% - 156px);
        }
         @include xxs-block(){
             justify-content: space-between;
             margin-left: 0;
        }
    }
     .info_list{
         display: flex;
         align-items: center;
         justify-content: flex-end;
         @include md-block(){
             display: none;
        }
    }
     .info_list_item{
         padding:0 15px;
         @include xxs-block(){
             padding:0 10px;
         }
         span, a{
             
        }
         span{
             padding-left:10px;
        }
    }
     .info_list_dekstop{
         @include media-1180(){
             display: none;
        }
    }
     .info-mob{
         display: none;
         justify-content: flex-end;
         @include md-block(){
             display: flex;
        }
         
    }
    .info-mob_item{
             display: flex;
             border-left: 1px solid #46484f;
        }
     .burger{
         @include md-block(){
             display: flex;
        }
         display: none;
         padding: 0 10px;
         height: 40px;
         background-color: #242427;
         justify-content: center;
         align-items: center;
         cursor: pointer;
       
    }
      .burger_item{
             position: relative;
             width: 20px;
             height: 3px;
             background-color: #02c77c;
             &:before{
                 content:'';
                 position: absolute;
                 width: 20px;
                 height: 3px;
                 top: -7px;
                 left: 0;
                 background-color: #02c77c;
            }
             &:after{
                 content:'';
                 position: absolute;
                 width: 20px;
                 height: 3px;
                 top: 7px;
                 left: 0;
                 background-color: #02c77c;
            }
        }
}
