.header{
.menu{
     @include md-block(){
         display: none;
    }
}
 .menu-row{
     display: flex;
     justify-content: space-between;
}
 .menu_items{
     display: flex;
}
 .menu_item{
     padding: 18px 31px;
     position: relative;
     &:first-child{
         margin-left: -28px;
    }
     &:hover > a{
         color: #00d181;
    }
     a{
         
         font-weight: 500;
         font-size: 16px;
         display: block;
    }
}
 .dropdown{
     
     &_link{
        position: relative;
         &:after{
             content: '';
             display: inline-block;
             background-image: url('../img/arrow-down.png');
             width: 12px;
             height: 12px;
             
             position: absolute;
             right: -30px;
             top: 7px;
             transition: 0.3s;
        }
    }
     &:hover > .dropdown-child{
         display: block;
    }
     &:hover > .dropdown_link{
         &:after{
             transform:rotate(180deg);
        }
    }
}
 .produsts-width{
     width: 221px;
}
 .company-width{
     width: 152px;
}
 .dropdown-child{
     display: none;
     position: absolute;
     left: 16px;
     top: 56px;
     z-index: 100;
     background-color: #232427;
     padding: 28px 0;
     &_item{
         &:hover > a{
             color: #00d181;
        }
         a{
             padding: 10px 10px 10px 30px;
             display: block;
             
             font-size: 16px;
             width: 100%;
        }
    }
}
 .search{
     display: flex;
     align-items: center;
     position: relative;
     &:after{
         content: '';
         position: absolute;
         top:22px;
         right: 5px;
         width: 16px;
         height: 15px;
         background-image: url(../img/search.png);
    }
     input{
         outline: none;
         border:none;
         background-color: inherit;
         width: 225px;
         color: #fff;
         &::placeholder{
             color: #5f626e;
             font-size: 16px;
             font-style: Italic;
        }
    }
}
}