.header{
     .response_menu{
         display: none;
         position: absolute;
         background-color: #242427;
         padding: 10px 20px;
         box-sizing:border-box;
         width: 100%;
         z-index: 100;
         padding-bottom: 20px;
         .response_close{
             cursor: pointer;
             display: block;
             padding: 13px 0;
        }
         .response_search{
             width: 95%;
             outline: none;
             border:none;
             background-color:#2a2b2f;
             padding: 10px;
             color: #5f626e;
             margin-bottom: 25px;
             &:placeholder{
                 color: #5f626e;
                 font-size: 16px;
                 font-style: italic;
            }
        }
         .response_enter{
             margin-bottom: 18px;
             span{
                 color: #cccccc;
                 font-size: 16px;
            }
        }
         .response_cart{
             margin-bottom: 25px;
             .cart_title{
                 font-size: 16px;
                 font-style: italic;
                 color: #5f626e;
            }
             .cart_count{
                 font-size: 16px;
                 color: #cccccc;
            }
        }
         .response_nav{
             margin-bottom: 35px;
             .response_list{
                 &_item{
                     background-color: #2a2b2f;
                     a{
                         display: block;
                         color: #cccccc;
                         font-size: 16px;
                         padding: 10px;
                         margin: 2px 0;
                         background-color: inherit;
                    }
                     &:hover >a{
                         color: #00d181;
                    }
                }
                 .dropdown_link{
                     position: relative;
                     &:after{
                         content: '';
                         display: inline-block;
                         background-image: url('../img/arrow-down.png');
                         width: 12px;
                         height: 12px;
                         color: #cccccc;
                         position: absolute;
                         right: 16px;
                         top: 15px;
                         transition: 0.4s;
                    }
                }
                 .dropdown_link-arrow{
                     color:#00d181;
                     text-decoration: underline;
                     &:after{
                         transform:rotate(180deg);
                    }
                }
            }
        }
        .response_info{
             .info_item-mob, .callback-response {
             padding: 10px 0px;
             width: 200px;
             text-align: center;
             width: 100%;
             span{
                 color: #cccccc;
                 font-size: 16px;
            }
             a{
                 color: #cccccc;
                 font-weight: 500;
            }
             svg{
                 padding-right: 10px;
            }
        }
         .callback-response{
             width: 200px;
             height: 34px;
             border-radius: 17px;
             border: 1px solid #ababaf;
             margin: 0 auto;
             padding: 0px;
             display: flex;
             justify-content: center;
             align-items: center;
        }
        }
        
         .dropdown-child-mob{
             display: none;
             background-color:#242427;
             width: 100%;
        }
         .dropdown_child_item {
             padding-left: 15px;
        }
    }
}
 