
<div class="contacts contacts_bottom">
  <div class="container">
    <div class="contacts_form_bottom">
      <h2 class="contacts_form_header">Остались вопросы?</h2>
      <div class="contacts-row">
        <div class="left-form-col">
          <div class="left-form_title">Посмотрите раздел FAQ</div>
          <div class="left-form_text">Где мы ответили на часто задаваемые вопросы клиентов</div>
          <div class="faq-btn"><a href="#">Перейти в FAQ</a></div>
        </div>
        <div class="middle-form-col">Или</div>
        <div class="right-form-col">
          <div class="request_form contacts_request_form">
            <h3 class="request_form_header contacts_form_title">Оставьте заявку</h3>
            <div class="request_form_text contacts_form_text">И через 10 минут с вами свяжется персональный менеджер и ответит на все ваши вопросы!</div>
            <input class="request_input contacts_form_input" type="text" placeholder="Ваше имя"/>
            <input class="request_input contacts_form_input" type="text" placeholder="Ваш телефон"/>
            <button class="request_btn contacts_form_btn js-request-btn">Отправить</button>
            <div class="form_text-mob contacts_send_text">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>