
<div class="container">
  <div class="gost-row">
    <h1 class="gost_header"></h1>
    <div class="gost_catalog">
      <ul class="catalog_items">
        <li class="catalog_item"><a class="catalog_item_link arrow-down js-catalog-dropdown" href="#">Сортовой прокат</a>
          <ul class="catalog_dropdown">
            <li class="dropdown_child js-catalog-child-dropdown"><a class="arrow-down-mob" href="#">Арматура</a>
              <div class="gost_content_mob">
                <div class="gost_content_item">
                  <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
                  <div class="content_item_download">
                    <svg class="download_pdf" width="22" height="24">
                      <use xlink:href="/img/sprite.svg#price-list"></use>
                    </svg><a class="content_item_link" href="#">Скачать</a>
                  </div>
                </div>
                <div class="gost_content_item">
                  <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
                  <div class="content_item_download">
                    <svg class="download_pdf" width="22" height="24">
                      <use xlink:href="/img/sprite.svg#price-list"></use>
                    </svg><a class="content_item_link" href="#">Скачать</a>
                  </div>
                </div>
                <div class="gost_content_item">
                  <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
                  <div class="content_item_download">
                    <svg class="download_pdf" width="22" height="24">
                      <use xlink:href="/img/sprite.svg#price-list"></use>
                    </svg><a class="content_item_link" href="#">Скачать</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Балка </a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Швеллер</a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Уголок</a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Полоса</a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Квадрат</a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Круг</a></li>
            <li class="dropdown_child js-dropdown-child"><a class="arrow-down-mob" href="#">Шестигранник</a></li>
          </ul>
        </li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Листовой прокат</a></li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Трубы</a></li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Метизы и метсырье</a></li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Нержавеющая сталь</a></li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Качественные стали</a></li>
        <li class="catalog_item js-catalog-dropdown"><a class="catalog_item_link arrow-down" href="#">Цветные металлы</a></li>
      </ul>
    </div>
    <div class="gost_content">
      <div class="gost_content_item">
        <div class="content_item_img">
          <svg width="22" height="24">
            <use xlink:href="/img/sprite.svg#pdf-file"></use>
          </svg>
        </div>
        <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
        <div class="content_item_download">
          <svg class="download_arrow" width="13" height="16">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
          <svg class="download_pdf" width="22" height="24">
            <use xlink:href="/img/sprite.svg#price-list"></use>
          </svg><a class="content_item_link" href="#">Скачать</a>
        </div>
      </div>
      <div class="gost_content_item">
        <div class="content_item_img">
          <svg width="22" height="24">
            <use xlink:href="/img/sprite.svg#pdf-file"></use>
          </svg>
        </div>
        <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
        <div class="content_item_download">
          <svg class="download_arrow" width="13" height="16">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
          <svg class="download_pdf" width="22" height="24">
            <use xlink:href="/img/sprite.svg#price-list"></use>
          </svg><a class="content_item_link" href="#">Скачать</a>
        </div>
      </div>
      <div class="gost_content_item">
        <div class="content_item_img">
          <svg width="22" height="24">
            <use xlink:href="/img/sprite.svg#pdf-file"></use>
          </svg>
        </div>
        <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
        <div class="content_item_download">
          <svg class="download_arrow" width="13" height="16">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
          <svg class="download_pdf" width="22" height="24">
            <use xlink:href="/img/sprite.svg#price-list"></use>
          </svg><a class="content_item_link" href="#">Скачать</a>
        </div>
      </div>
      <div class="gost_content_item">
        <div class="content_item_img">
          <svg width="22" height="24">
            <use xlink:href="/img/sprite.svg#pdf-file"></use>
          </svg>
        </div>
        <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
        <div class="content_item_download">
          <svg class="download_arrow" width="13" height="16">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
          <svg class="download_pdf" width="22" height="24">
            <use xlink:href="/img/sprite.svg#price-list"></use>
          </svg><a class="content_item_link" href="#">Скачать</a>
        </div>
      </div>
      <div class="gost_content_item">
        <div class="content_item_img">
          <svg width="22" height="24">
            <use xlink:href="/img/sprite.svg#pdf-file"></use>
          </svg>
        </div>
        <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
        <div class="content_item_download">
          <svg class="download_arrow" width="13" height="16">
            <use xlink:href="/img/sprite.svg#arrow"></use>
          </svg>
          <svg class="download_pdf" width="22" height="24">
            <use xlink:href="/img/sprite.svg#price-list"></use>
          </svg><a class="content_item_link" href="#">Скачать</a>
        </div>
      </div>
    </div>
  </div>
</div>