
<div class="products-page_title_bg">
  <div class="container">
    <div class="products-page_title">Более <span>20 000</span> наименований в наличии!</div>
  </div>
</div>
<div class="container">
  <div class="products-row">
    <div class="company_assortment_item products_item"><a class="products_title" href="">Сортовой прокат</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Арматура</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Балка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Швеллер</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Полоса</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Квадрат</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Круг</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Шестигранник</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item products_item"><a class="products_title" href="">Листовой прокат</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лист г/к</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лист х/к</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лист оцинкованный</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Профнастил</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Просечно-вытяжной лист (ПВЛ)</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лист нержавеющий</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item products_item"><a class="products_title" href="">Цветные металлы</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Алюминий</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Дюраль</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Медь</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Бронза</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Латунь</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Олово</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Свинец</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Цинк</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item products_item"><a class="products_title" href="">Нержавеющая сталь</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Круг</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Квадрат</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Шестигранник</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Полоса</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Трубы нержавейка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лист нержавеющий</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Нержавеющие метизы</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Комплектующие</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">для лестничных ограждений</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Детали трубопровода</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item products_item"><a class="products_title" href="">Качественные стали</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Конструкционная сталь</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Инструментальная сталь</a>
        </li>
      </ul><a class="products_title" href="">Трубы</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Трубы г/д</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Трубы х/д</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">ВГП</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Электросварные трубы</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Трубы нержавеющие</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Трубопроводная арматура</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item products_item"><a class="products_title" href="">Метизы и метсырье</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Катанка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Калибровка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Серебрянка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Проволока</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Канаты</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Сетка</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Лента</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Электроды</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="metal-cutting">
  <div class="container">
    <div class="metal-cutting_title">Резка </div>
    <div class="metal-cutting_text">металлоконструкций по вашим размерам!</div>
  </div>
</div>
<div class="about-company">
  <div class="container">
    <div class="company-documentation-row">
      <h2 class="company-title">Документы и свидетельства компании</h2>
      <div class="company_documentation js-documentation-slick">
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>