
<div class="company-gallery-bg">
  <div class="container">
    <div class="company-gallery-row">
      <h2 class="company-title">Галерея</h2>
      <div class="company_gallery js-gallery-slick">
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
        <div class="gallery_img"><img src="img/gallery_item.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="company-documentation-row">
    <h2 class="company-title">Документы и свидетельства компании</h2>
    <div class="company_documentation js-documentation-slick">
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
    </div>
  </div>
</div>