
<div class="contacts contacts_top">
  <div class="container">
    <h2 class="contacts_header">Контакты</h2>
    <div class="contacts_text">Свяжитесь с нами удобным для вас способом!</div>
    <div class="contacts_info-row">
      <div class="left-info-col">
        <div class="contacts_logo"><img src="img/contacts-logo.png" alt="logo"/></div>
        <div class="contacts_item">
          <div class="contacts_img">
            <svg width="20" height="20">
              <use xlink:href="/img/sprite.svg#telephone"></use>
            </svg>
          </div>
          <div class="contacts_content">
            <div class="contacts_content_title">Телефоны</div>
            <div class="contacts_content_text"><a href="tel:+77777777777">+7 (777) 777-77-77, </a><a href="tel:+77777777777">+7 (777) 777-77-77</a></div>
          </div>
        </div>
        <div class="contacts_item">
          <div class="contacts_img">
            <svg width="20" height="16">
              <use xlink:href="/img/sprite.svg#mail"></use>
            </svg>
          </div>
          <div class="contacts_content">
            <div class="contacts_content_title">Вопросы и предложения</div>
            <div class="contacts_content_text"><a href="mailto:sales@asap.ru">sales@asap.ru</a></div>
          </div>
        </div>
        <div class="contacts_item">
          <div class="contacts_img">
            <svg width="16" height="20">
              <use xlink:href="/img/sprite.svg#location-green"></use>
            </svg>
          </div>
          <div class="contacts_content">
            <div class="contacts_content_title">Офис</div>
            <div class="contacts_content_text">г. Москва, ул. Суворовская, 19/9 <br>8:00 - 21:00</div>
          </div>
        </div>
        <div class="contacts_item">
          <div class="contacts_img">
            <svg width="16" height="20">
              <use xlink:href="/img/sprite.svg#location-green"></use>
            </svg>
          </div>
          <div class="contacts_content">
            <div class="contacts_content_title">Склад</div>
            <div class="contacts_content_text">г. Москва, ул. Суворовская, 19/9 <br>8:00 - 21:00</div>
          </div>
        </div>
      </div>
      <div class="right-info-col">
        <div class="request request_contacts_top">
          <h2 class="request_form_header request_form_header-contacts">Форма обратной связи</h2>
          <h2 class="request_form_header-mob">Заполните форму</h2>
          <input class="request_input" type="text" placeholder="Ваше имя"/>
          <input class="request_input" type="text" placeholder="Ваш телефон"/>
          <input class="request_input" type="text" placeholder="Ваш e-mail"/>
          <textarea class="request_textarea" placeholder="Комментарий"></textarea>
          <button class="request_btn js-request-btn">Отправить</button>
          <div class="form_text-mob form_text-mod">Нажимая "Отправить", Вы принимаете условия</div><a class="form_link">Пользовательского соглашения</a>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="contacts_map"></section>