
<div class="price_bg">
  <div class="container">
    <div class="price_header-row">
      <h1 class="price_header">Выгодные цены <span>на металлопрокат</span></h1>
    </div>
  </div>
</div>
<div class="container">
  <h2 class="price_convenience_header">Почему покупать у нас выгодно</h2>
  <div class="price_convenience-row">
    <div class="price_convenience_text">Компания ASAP Tehnology реализует металлопродукцию по оптимальным ценам для клиентов. Мы предлагаем выгодные условия сотрудничества как для крупных строительных компаний, так и для частных лиц.</div>
    <div class="price_convenience_item">
      <div class="convenience_item_numb">1</div>
      <div class="convenience_item_text">Фиксированные цены на сайте</div>
    </div>
    <div class="price_convenience_item">
      <div class="convenience_item_numb">2</div>
      <div class="convenience_item_text">Минимальный заказ от 1 тонны</div>
    </div>
    <div class="price_convenience_item">
      <div class="convenience_item_numb">3</div>
      <div class="convenience_item_text">Прямые договора с заводами-производителями</div>
    </div>
    <div class="price_convenience_item">
      <div class="convenience_item_numb">4</div>
      <div class="convenience_item_text">Индивидуальные скидки от 5 тонн</div>
    </div>
  </div>
  <div class="price_service-row">
    <div class="price_convenience_service convenience_service_left">
      <div class="convenience_service_text"><span>Скачайте</span> прайс-лист с актуальными ценами</div>
      <div class="convenience_service_btn"><a class="downloload-price" href="#">Скачать прайс-лист</a></div>
    </div>
    <div class="convenience_service_middle">
      <div class="convenience_service_text">ИЛИ</div>
    </div>
    <div class="price_convenience_service convenience_service_right">
      <div class="convenience_service_text"><span>Перейдите</span> в каталог и выберите продукцию прямо на сайте</div>
      <div class="convenience_service_btn"><a class="go-to-catalog" href="#">Перейти в каталог</a></div>
    </div>
  </div>
</div>
<div class="container">
  <div class="online-calc">
    <h1 class="calc_header">Online-калькулятор стоимости арматуры</h1>
    <div class="calc_text">Рассчитаем стоимость арматуры в 3 клика!</div>
    <div class="calc-row">
      <div class="calc_left_col">
        <div class="calc_inputs">
          <div class="calc_inputs_item">
            <div class="calc_input_label">Диаметр арматуры Ø (мм)</div>
            <input type="text" value="15"/>
          </div>
          <div class="calc_inputs_item">
            <div class="calc_input_label">Необходимое количество арматуры (м)</div>
            <input type="text" value="200"/>
          </div>
        </div>
      </div>
      <div class="online-calc_button online-calc_button-mob"><a class="go_to_page" href="#">Рассчитать</a></div>
      <div class="calc_right_col">
        <div class="res_title">Вес одного метра:</div>
        <div class="res_numb">1,387 кг</div>
        <div class="res_title">Общая стоимость:</div>
        <div class="res_numb green-numb">40 000 руб</div>
      </div>
    </div>
  </div>
</div>