
<div class="prokat-page_title_bg">
  <div class="container">
    <div class="products-page_title">Сортовой прокат</div>
  </div>
</div>
<div class="container">
  <div class="products-row">
    <div class="company_assortment_item prokat_item"><a class="products_title" href="#">Арматура</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Арматура рифленая А3</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Арматура гладкая А1</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Арматура Ат800</a>
        </li>
      </ul><a class="products_title" href="#">Швеллер</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Швеллер</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Швеллер низколегированный</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Швеллер гнутый</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item prokat_item"><a class="products_title" href="#">Балка</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Балки (Двутавр)</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Балки (Двутавр) низколегированные</a>
        </li>
      </ul><a class="products_title" href="">Полоса</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Полоса г/к</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Полоса нержавеющая никельсодержащая</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item prokat_item"><a class="products_title" href="#">Уголок</a>
      <ul class="assortment_list">
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок равнополочный</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок равнополочный низколегированный</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок неравнополочный</a>
        </li>
        <li class="assortment_str">
          <svg class="assortment_item_img" width="16" height="13">
            <use xlink:href="/img/sprite.svg#left-arrow"></use>
          </svg><a class="assortment_item_link" href="">Уголок нержавеющий никельсодержащий</a>
        </li>
      </ul>
    </div>
    <div class="company_assortment_item prokat_item"><a class="products_title" href="#">Катанка</a><a class="products_title" href="#">Квадрат</a><a class="products_title" href="#">Круг</a></div>
  </div>
</div>
<div class="metal-cutting">
  <div class="container">
    <div class="metal-cutting_title">Резка </div>
    <div class="metal-cutting_text">металлоконструкций по вашим размерам!</div>
  </div>
</div>
<div class="about-company">
  <div class="container">
    <div class="company-documentation-row">
      <h2 class="company-title">Документы и свидетельства компании</h2>
      <div class="company_documentation js-documentation-slick">
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
        <div class="documentation_img"><img src="img/documentation_item.png" alt=""/></div>
      </div>
    </div>
  </div>
</div>