
<div class="about_logo">
  <div class="about_logo_img"><img src="img/company-logo.png" alt="company"/></div>
</div>
<div class="container">
  <div class="row-company-assortment">
    <h2 class="company-title">11 лет стабильной работы!</h2>
    <div class="company_assortment_text"><span class="company_label">Компания ASAP Tehnology</span> – это один из крупнейших поставщиков металлопроката в России. Мы предлагаем широкий ассортимент металлопродукции по самым выгодным ценам от производителей:</div>
    <div class="company_assortment_item">
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Арматура</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Катанка</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Балки</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Швеллера</a>
      </div>
    </div>
    <div class="company_assortment_item">
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Уголок</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Полоса</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Круг</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Квадрат</a>
      </div>
    </div>
    <div class="company_assortment_item">
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Трубы г/к</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Трубы х/к</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Трубная арматура</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Листовой прокат</a>
      </div>
    </div>
    <div class="company_assortment_item">
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Метизы и метсырье</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Качественные стали</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Нержавеющие стали</a>
      </div>
      <div class="assortment_str">
        <svg class="assortment_item_img" width="16" height="13">
          <use xlink:href="/img/sprite.svg#left-arrow"></use>
        </svg><a class="assortment_item_link" href="#">Цветные металлы</a>
      </div>
    </div>
    <div class="company_assortment_text"><span class="company_label">Наша главная задача</span> – предоставить клиентам металлопродукцию высоко качества и точно в срок! Мы ценим наших клиентов, поэтому заботимся о первоклассном сервисе предоставляемых услуг.</div>
    <div class="company_assortment_text">Наш опыт работы в данной сфере составляет 11 лет, что говорит о нашем профессионализме и компетенции. </div>
  </div>
  <div class="row-company-advantages">
    <h2 class="company-title advantages-title">Преимущества АSAP Tehnology </h2>
    <div class="company_advantages_item"> 
      <div class="advantages_numb">1</div>
      <div class="advantages_text">11 лет опыта</div>
    </div>
    <div class="company_advantages_item">
      <div class="advantages_numb">2</div>
      <div class="advantages_text">Продукция по ГОСТу</div>
    </div>
    <div class="company_advantages_item">
      <div class="advantages_numb">3</div>
      <div class="advantages_text">Цены от производителя</div>
    </div>
    <div class="company_advantages_item">
      <div class="advantages_numb">4</div>
      <div class="advantages_text">Доставка по всей РФ</div>
    </div>
  </div>
</div>