
<div class="page-buttons"><a class="go-to-catalog" href="#">Перейти в каталог</a><a class="downloload-price" href="#">Скачать прайс-лист</a><a class="go-to-contacts" href="#">Пеперейти к контактам</a></div>