
<div class="one-product">
  <div class="container">
    <div class="product-row">
      <h1 class="product_header-ressponsive">Катанка 5.5, длина 6000, марка Ст3</h1>
      <div class="product_gallery js-product-gallery">
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
        <div class="product_gallery_item"><img src="img/product_1.png" alt=""/></div>
      </div>
      <div class="product_img"><img src="img/product_1.png" alt=""/></div>
      <div class="product_info">
        <h1 class="product_header">Катанка 5.5, длина 6000, марка Ст3</h1>
        <div class="product_details">
          <div class="product_details_item">Диаметр:<span> 5.5 мм</span></div>
          <div class="product_details_item">Длина:<span> 6000 мм</span></div>
        </div>
        <p class="product_text">Вид сортового металлопроката, который используют при изготовлении монолитных бетонных конструкций. Главная функция катанки – это армирование и укрепление.</p>
        <p class="product_text">Для изготовления данного вида стальной проволоки используют углеродистую сталь марки Ст3. </p>
        <div class="product_info_price">
          <div class="product_info_price_items">
            <div class="product_price">1 000 руб</div>
            <div class="product_available">Есть на складе</div>
          </div>
          <div class="product_btn">
            <svg class="product-cart-img" width="17px" height="16px">
              <use xlink:href="/img/sprite.svg#black-cart"></use>
            </svg>
            <svg class="product-focused-cart" width="18px" height="30px">
              <use xlink:href="/img/sprite.svg#focused-cart"></use>
            </svg>
            <svg class="product-pressed-cart" width="18px" height="27px">
              <use xlink:href="/img/sprite.svg#pressed-cart"></use>
            </svg><a class="product_btn-link" href="#">Добавить в корзину</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="metal-cutting">
  <div class="container">
    <div class="metal-cutting_title">Резка </div>
    <div class="metal-cutting_text">металлоконструкций по вашим размерам!</div>
  </div>
</div>
<div class="container">
  <h2 class="gost-product_header">ГОСТы и ТУ</h2>
  <div class="gost-product-row">
    <div class="gost_content_item gost-product_item">
      <div class="content_item_img">
        <svg width="22" height="24">
          <use xlink:href="/img/sprite.svg#pdf-file"></use>
        </svg>
      </div>
      <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
      <div class="content_item_download">
        <svg class="download_arrow" width="13" height="16">
          <use xlink:href="/img/sprite.svg#arrow"></use>
        </svg>
        <svg class="download_pdf" width="22" height="24">
          <use xlink:href="/img/sprite.svg#price-list"></use>
        </svg><a class="content_item_link" href="#">Скачать</a>
      </div>
    </div>
    <div class="gost_content_item gost-product_item">
      <div class="content_item_img">
        <svg width="22" height="24">
          <use xlink:href="/img/sprite.svg#pdf-file"></use>
        </svg>
      </div>
      <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
      <div class="content_item_download">
        <svg class="download_arrow" width="13" height="16">
          <use xlink:href="/img/sprite.svg#arrow"></use>
        </svg>
        <svg class="download_pdf" width="22" height="24">
          <use xlink:href="/img/sprite.svg#price-list"></use>
        </svg><a class="content_item_link" href="#">Скачать</a>
      </div>
    </div>
    <div class="gost_content_item gost-product_item">
      <div class="content_item_img">
        <svg width="22" height="24">
          <use xlink:href="/img/sprite.svg#pdf-file"></use>
        </svg>
      </div>
      <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
      <div class="content_item_download">
        <svg class="download_arrow" width="13" height="16">
          <use xlink:href="/img/sprite.svg#arrow"></use>
        </svg>
        <svg class="download_pdf" width="22" height="24">
          <use xlink:href="/img/sprite.svg#price-list"></use>
        </svg><a class="content_item_link" href="#">Скачать</a>
      </div>
    </div>
    <div class="gost_content_item gost-product_item">
      <div class="content_item_img">
        <svg width="22" height="24">
          <use xlink:href="/img/sprite.svg#pdf-file"></use>
        </svg>
      </div>
      <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
      <div class="content_item_download">
        <svg class="download_arrow" width="13" height="16">
          <use xlink:href="/img/sprite.svg#arrow"></use>
        </svg>
        <svg class="download_pdf" width="22" height="24">
          <use xlink:href="/img/sprite.svg#price-list"></use>
        </svg><a class="content_item_link" href="#">Скачать</a>
      </div>
    </div>
    <div class="gost_content_item gost-product_item">
      <div class="content_item_img">
        <svg width="22" height="24">
          <use xlink:href="/img/sprite.svg#pdf-file"></use>
        </svg>
      </div>
      <div class="content_item_text"><span class="content_item_str">ГОСТ 5781-82</span> Сталь горячекатаная для армирования железобетонных конструкций технические условия </div>
      <div class="content_item_download">
        <svg class="download_arrow" width="13" height="16">
          <use xlink:href="/img/sprite.svg#arrow"></use>
        </svg>
        <svg class="download_pdf" width="22" height="24">
          <use xlink:href="/img/sprite.svg#price-list"></use>
        </svg><a class="content_item_link" href="#">Скачать</a>
      </div>
    </div>
    <div class="gost-product-btn"><a class="gost-product_link" href="#">Все ГОСТы и ТУ</a></div>
  </div>
</div>