
<div class="container">
  <h1 class="armature_header">Арматура</h1>
  <div class="container">
    <div class="armature_list-mob">
      <ul class="catalog_items">
        <li class="catalog_item"><a class="catalog_item_link armature-link arrow-down js-catalog-dropdown" href="#">Арматура 6 А3 мотки</a>
          <div class="armature-mob_content js-armature-content">
            <div class="armature-mob_item">
              <div class="armature-mob_key">Размер</div>
              <div class="armature-mob_value">6</div>
            </div>
            <div class="armature-mob_item">
              <div class="armature-mob_key">Марка</div>
              <div class="armature-mob_value">35ГС</div>
            </div>
            <div class="armature-mob_item">
              <div class="armature-mob_key">Длина</div>
              <div class="armature-mob_value">600</div>
            </div>
            <div class="armature-mob_item armature_last_item">
              <div class="armature-mob_key">Цена (до 5 тонн)</div>
              <div class="armature-mob_value">99 999 руб</div>
            </div>
            <div class="armature-mob_add_to_cart"><a href="#">Добавить в корзину</a></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="armature_list-mob">
      <ul class="catalog_items">
        <li class="catalog_item"><a class="catalog_item_link armature-link arrow-down js-catalog-dropdown" href="#">Арматура 6 А3 мотки</a>
          <div class="armature-mob_content js-armature-content">
            <div class="armature-mob_item">
              <div class="armature-mob_key">Размер</div>
              <div class="armature-mob_value">6</div>
            </div>
            <div class="armature-mob_item">
              <div class="armature-mob_key">Марка</div>
              <div class="armature-mob_value">35ГС</div>
            </div>
            <div class="armature-mob_item">
              <div class="armature-mob_key">Длина</div>
              <div class="armature-mob_value">600</div>
            </div>
            <div class="armature-mob_item armature_last_item">
              <div class="armature-mob_key">Цена (до 5 тонн)</div>
              <div class="armature-mob_value">99 999 руб</div>
            </div>
            <div class="armature-mob_add_to_cart"><a href="#">Добавить в корзину</a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="armature_table_bg">
    <table class="armature_table">
      <thead class="armature_table_title">
        <tr>
          <th class="armature_name"> 
            <div class="armature_title_item">Наименование</div>
          </th>
          <th class="armature_size"> 
            <div class="armature_title_item">Размер</div>
          </th>
          <th class="armature_brand"> 
            <div class="armature_title_item">Марка</div>
          </th>
          <th class="armature_width"> 
            <div class="armature_title_item">Длина</div>
          </th>
          <th class="armature_price"> 
            <div class="armature_title_item">Цена <br><span>(до 5 тонн)</span></div>
          </th>
          <th class="armature_cart"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="armature_item">
          <td class="armature_name">Арматура 6 А3</td>
          <td class="armature_size">6</td>
          <td class="armature_brand">35ГС</td>
          <td class="armature_width">600</td>
          <td class="armature_price">99 999 руб</td>
          <td class="armature_cart js-pressed-cart">
            <svg class="armature_cart_img" width="17px" height="16px">
              <use xlink:href="/img/sprite.svg#shopping-cart"></use>
            </svg>
            <svg class="focused-cart" width="18px" height="30px">
              <use xlink:href="/img/sprite.svg#focused-cart"></use>
            </svg>
            <svg class="pressed-cart" width="18px" height="27px">
              <use xlink:href="/img/sprite.svg#pressed-cart"></use>
            </svg>
          </td>
        </tr>
        <tr class="armature_item">
          <td class="armature_name">Арматура 6 А3 мотки </td>
          <td class="armature_size">6</td>
          <td class="armature_brand">А500С</td>
          <td class="armature_width">мотки</td>
          <td class="armature_price">99 999 руб</td>
          <td class="armature_cart js-pressed-cart">
            <svg class="armature_cart_img" width="17px" height="16px">
              <use xlink:href="/img/sprite.svg#shopping-cart"></use>
            </svg>
            <svg class="focused-cart" width="18px" height="30px">
              <use xlink:href="/img/sprite.svg#focused-cart"></use>
            </svg>
            <svg class="pressed-cart" width="18px" height="27px">
              <use xlink:href="/img/sprite.svg#pressed-cart"></use>
            </svg>
          </td>
        </tr>
        <tr class="armature_item">
          <td class="armature_name">Арматура 6 А3 мотки </td>
          <td class="armature_size">6</td>
          <td class="armature_brand">А500С</td>
          <td class="armature_width">мотки</td>
          <td class="armature_price">99 999 руб</td>
          <td class="armature_cart js-pressed-cart">
            <svg class="armature_cart_img" width="17px" height="16px">
              <use xlink:href="/img/sprite.svg#shopping-cart"></use>
            </svg>
            <svg class="focused-cart" width="18px" height="30px">
              <use xlink:href="/img/sprite.svg#focused-cart"></use>
            </svg>
            <svg class="pressed-cart" width="18px" height="27px">
              <use xlink:href="/img/sprite.svg#pressed-cart"></use>
            </svg>
          </td>
        </tr>
        <tr class="armature_item">
          <td class="armature_name">Арматура 8 А3</td>
          <td class="armature_size">8</td>
          <td class="armature_brand">А500С </td>
          <td class="armature_width">11 700</td>
          <td class="armature_price">99 999 руб</td>
          <td class="armature_cart js-pressed-cart">
            <svg class="armature_cart_img" width="17px" height="16px">
              <use xlink:href="/img/sprite.svg#shopping-cart"></use>
            </svg>
            <svg class="focused-cart" width="18px" height="30px">
              <use xlink:href="/img/sprite.svg#focused-cart"></use>
            </svg>
            <svg class="pressed-cart" width="18px" height="27px">
              <use xlink:href="/img/sprite.svg#pressed-cart"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pager">
    <ul class="pager_list">
      <li class="pager_number"><img src="../img/prev.png"/></li>
      <li class="pager_number current_number"><a href="#">1</a></li>
      <li class="pager_number"><a href="#">2</a></li>
      <li class="pager_number"><a href="#">3</a></li>
      <li class="pager_number"><a href="#">4</a></li>
      <li class="pager_number pager_number-responsive"><a href="#">5</a></li>
      <li class="pager_number"><a href="#">...</a></li>
      <li class="pager_number"><a href="#">99</a></li>
      <li class="pager_number"><img src="../img/next.png"/></li>
    </ul>
  </div>
  <div class="page-buttons"><a class="downloload-price armature-price">Скачать прайс-лист</a><a class="to_private">Войти в личный кабинет</a></div>
  <div class="online-calc">
    <h1 class="calc_header">Online-калькулятор стоимости арматуры</h1>
    <div class="calc_text">Рассчитаем стоимость арматуры в 3 клика!</div>
    <div class="calc-row">
      <div class="calc_left_col">
        <div class="calc_inputs">
          <div class="calc_inputs_item">
            <div class="calc_input_label">Диаметр арматуры Ø (мм)</div>
            <input type="text" value="15"/>
          </div>
          <div class="calc_inputs_item">
            <div class="calc_input_label">Необходимое количество арматуры (м)</div>
            <input type="text" value="200"/>
          </div>
        </div>
      </div>
      <div class="online-calc_button online-calc_button-mob"><a class="go_to_page" href="#">Рассчитать</a></div>
      <div class="calc_right_col">
        <div class="res_title">Вес одного метра:</div>
        <div class="res_numb">1,387 кг</div>
        <div class="res_title">Общая стоимость:</div>
        <div class="res_numb green-numb">40 000 руб</div>
      </div>
    </div>
  </div>
</div>