
<div class="sale-products">
  <div class="container">
    <div class="sale-products-row">
      <div class="sale-products_img"><img src="img/metall.png" alt="metal"/></div>
      <div class="sale-products_info">
        <div class="sale_info_title">Продажа металлопроката в любом объеме для:</div>
        <ul class="sale_info_list">
          <li class="sale_info_item"><img src="img/contacts-arrow.png" alt=""/><span>Крупных и средних строительных компаний </span></li>
          <li class="sale_info_item"><img src="img/contacts-arrow.png" alt=""/><span>Предприятий по изготовлению металлоконструкций</span></li>
          <li class="sale_info_item"><img src="img/contacts-arrow.png" alt=""/><span>Частного строительства (дома, коттеджи, дачи)</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>