
<div class="faq">
  <div class="container">
    <h1 class="faq_header">Часто задаваемые вопросы</h1>
    <div class="faq_questions">
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Как сделать заказ?</div>
        <div class="questions_item_text">Вы можете заказать нашу продукцию двумя способами: по телефону с менеджером и через личный кабинет пользователя на нашем сайте. Заявки поступают в отдел по обслуживанию клиентов, и ваш персональный менеджер наберет вас в течение 10 минут и подтвердит заказ.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Как я могу оплатить заказ?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, voluptatibus accusantium! Odit quidem totam ipsum autem sit, nostrum, doloribus magni magnam debitis numquam facilis harum corporis! Repellendus, ab, est. Vitae.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Как быстро мне доставят груз?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam unde, nostrum, vel rerum consequatur necessitatibus! Perspiciatis, quas, aut tenetur adipisci at omnis odio ut repellendus consequatur nihil quia voluptatum cum.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Что значит «сборная машина»?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem deleniti consequatur quaerat, doloribus, distinctio vero minima, saepe, facilis pariatur officiis nam earum obcaecati cupiditate ipsam harum repellendus neque asperiores nulla.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Формируете ли вы сборные вагоны?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit iure itaque reprehenderit qui minima quisquam, perspiciatis similique dolores pariatur debitis nostrum aperiam ex est expedita! Excepturi illo voluptates veniam explicabo.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Цена на сайте актуальна?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque saepe facere praesentium nemo ipsa ratione, odio officia accusamus eveniet vitae ad delectus a provident. Quod aliquam odit culpa maiores obcaecati.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Какие вы даете гарантии на продукцию?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores eum eius, iste voluptas explicabo ducimus accusantium, facilis quae quidem harum accusamus dolore repellat quas. Vel praesentium doloribus dolores porro, facere.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">У меня срочный заказ. Быстро ли его доставят?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, aperiam veniam ea quod quam molestiae autem quis quae, nulla culpa quo doloribus non excepturi facere maxime distinctio officiis deserunt hic.</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Какая минимальная сумма заказа?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic quaerat accusantium architecto voluptatum sint, dignissimos molestiae animi, placeat perspiciatis ex ducimus quam soluta aperiam ad laudantium eaque ratione! Repudiandae, tempore!</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Могу ли я получить скидку?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fuga iure distinctio id. Vitae asperiores dolores ipsam quisquam quibusdam, natus inventore similique nemo, eaque impedit alias dicta nobis perferendis autem!</div>
      </div>
      <div class="faq_questions_item">
        <div class="questions_item_title js-active-text">Подписываем ли мы договор?</div>
        <div class="questions_item_text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fugit a quasi aliquid, beatae, minus sit nostrum repellendus laudantium quo laborum eos, architecto magni provident nisi repellat totam amet ipsum.</div>
      </div>
    </div>
  </div>
</div>