@mixin media-1265(){
    @media screen and (max-width: 1265px){
        @content;
    }
}
@mixin media-1180(){
    @media screen and (max-width: 1180px){
        @content;
    }
}
@mixin media-900(){
    @media screen and (max-width: 900px){
        @content;
    }
}
@mixin media-750(){
    @media screen and (max-width: 750px){
        @content;
    }
}
@mixin media-700(){
    @media screen and (max-width: 700px){
        @content;
    }
}
@mixin media-600(){
    @media screen and (max-width: 600px){
        @content;
    }
}

@mixin media-530(){
    @media screen and (max-width: 530px){
        @content;
    }
}
@mixin media-320(){
    @media screen and (max-width: 320px){
        @content;
    }
}