.about-order{
     background: url('../img/order-bg.png') center top/cover no-repeat;
     padding-bottom: 320px;
     @include media-1180(){
         padding-bottom: 50px;
    }
     @include xxs-block(){
         padding-bottom: 40px;
    }
     .about-order_header{
         @include col();
         @include size(12);
         text-align: center;
         
         padding-top: 69px;
         padding-bottom: 62px;
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         @include md-block(){
             font-size: 22px;
             padding-top: 49px;
             padding-bottom: 42px;
        }
         @include sm-block(){
             font-size: 20px;
        }
         @include xs-block(){
             font-size: 18px;
        }
         @include xxs-block(){
             font-size: 16px;
             padding-top: 35px;
             padding-bottom: 25px;
        }
    }
     .row-about_order{
         @include md-block(){
             justify-content: center;
        }
    }
     .order_item{
         box-sizing:border-box;
         @include col();
         @include size(3);
         @include size-md(10);
         @include size-sm(10);
         @include md-block(){
             padding-bottom: 10px;
        }
         @include size-xs(10);
         @include size-xxs(12);
    }
     .order_numb{
         width: 70px;
         height: 70px;
         border-radius: 35px;
         background-color: #5f626e;
         color: #000000;
         font-size: 36px;
         font-weight: 400;
         display: flex;
         justify-content: center;
         align-items: center;
         box-shadow: 5px 7px 16px rgba(0, 0, 0, 0.7);
         @include xxs-block(){
             width: 40px;
             height:40px;
             border-radius: 20px;
        }
    }
     .order_final{
         color: #00d181;
    }
     .order_step{
         position: absolute;
         top:-50px;
         left: 50%;
         transform: translateX(-50%);
         transform-origin: 50% 0 0;
         min-width: 100px;
         min-height: 100px;
         border-radius: 50px;
         background-color: #2a2b2f;
         display: flex;
         justify-content: center;
         align-items: center;
         @include md-block(){
             position: static;
             transform: translateX(0);
        }
         @include xxs-block(){
             min-width: 70px;
             min-height: 70px;
             border-radius: 35px;
        }
    }
     .order_img{
         margin-top: 80px;
         margin-bottom: 28px;
         height: 100px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         @include md-block(){
             display: none;
        }
    }
     .order_text{
         
         padding: 0 10px;
         font-size: 16px;
         font-weight: 700;
         line-height: 22px;
         max-width: 185px;
         text-align: center;
         @include md-block(){
             max-width: 90%;
             //line-height: 24px;
             font-weight: 400;
        }
    }
     .order_content{
        width: 91%;
        height: 100%;
         margin:0 auto;
         background-color: #2a2b2f;
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-bottom: 60px;
         @include md-block(){
             padding-bottom: 0px;
             border-radius: 60px 0 0 60px;
             position: static;
             flex-direction: row;
        }
    }
     .next_step{
         position: relative;
         @include md-block(){
             position: static;
        }
         &:after{
             content: '';
             width: 19px;
             height: 40px;
             background-image: url(../img/step.png);
             position: absolute;
             top:50%;
             transform: translateY(-50%);
             right: -20px;
             color: #5f626e;
             @include md-block(){
                 background:none;
                 right: 0;
            }
        }
    }
     .order_title_link{
         color: #00cd7e;
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
         margin-top: 52px;
         margin-bottom: 17px;
         @include xxs-block(){
             font-size: 16px;
             font-weight: 700;
             line-height: 26px;
             margin-top: 17px;
        }
    }
     .order_btn{
        width: 100%;
        text-align: center;
     }
}
