.advantages{
     background-color: #2a2b2f;
     padding-bottom: 140px;
     @include xxs-block(){
         padding-bottom: 40px;
    }
     .advantages-row{
         @include media-1180(){
             justify-content: center;
        }
    }
     .advantages_info{
         @include col();
         @include size(4);
         @include media-1180(){
             @include size(5);
        }
         @include size-md(6);
         @include size-sm(10);
         @include size-xs(12);
    }
     .advantages_item{
         margin-top: 30px;
         @include sm-block(){
             margin-top: 20px;
        }
    }

     .advantages_title{
            display: flex;
            align-items: flex-end;
            margin-bottom: 20px;

         span{
             
             padding:0 10px;
             font-size: 16px;
             font-weight: 700;
            
        }
         img{
             
        }
         @include md-block(){
             padding:0 10px;
        }
    }
    .item_left .advantages_title{
        justify-content: flex-end;
         @include sm-block(){
            justify-content: flex-start;
            }
        img{
            order: 2;
              @include sm-block(){
            order: 1;
            }
        }
        span{
            order: 1;
              @include sm-block(){
            order: 2;
            }
        }
       
    }
     .advantages_text{
         margin-top: 5px;
         
         font-size: 16px;
         font-weight: 400;
         line-height: 36px;
         @include md-block(){
             padding:0 20px;
             line-height: 28px;
        }
         @include sm-block(){
             padding:0 10px;
             line-height: 24px;
        }
         @include xxs-block(){
            order: 2;
        }
    }
     .advantages_img{
         @include col();
         @include size(4);
         text-align: center;
         align-self: flex-end;
         @include media-1180(){
             display: none;
        }
       
    }
}
 