 .company{
     background: url('../img/main-bg.jpg') center top/cover no-repeat;
     padding-top: 135px;
     padding-bottom: 170px;
     @include md-block(){
         padding-top: 80px;
         padding-bottom: 130px;
    }
     @include sm-block(){
         padding-top: 50px;
         padding-bottom: 100px;
    }
     @include xxs-block(){
         padding-bottom: 170px;
    }
     .company_header, .company_text{
         text-align: center;
         text-transform: uppercase;
    }
     .company_header{
         
         font-size: 60px;
         font-weight: 400;
         margin-bottom: 60px;
         @include media-1180(){
             font-size: 50px;
        }
         @include md-block(){
             font-size: 40px;
        }
         @include sm-block(){
             margin-bottom: 30px;
             font-size: 30px;
        }
         @include xs-block(){
             margin-bottom: 30px;
             font-size: 24px;
        }
         span{
             font-weight: 700;
             @include xs-block(){
                 display: block;
                 padding: 0 20px;
                 font-size: 24px;
            }
        }
    }
     .company_text{
         max-width: 735px;
         opacity: 0.8;
         
         font-size: 30px;
         font-weight: 400;
         line-height: 40px;
         margin: 0 auto;
         @include media-1180(){
             font-size: 25px;
        }
         @include md-block(){
             font-size: 20px;
        }
         @include sm-block(){
             font-weight: 700;
             font-size: 16px;
             line-height: 28px;
        }
    }
    
}
 