.delivery{
     background: url('../img/delivery-bg.jpg') no-repeat 50%;
    box-sizing: content-box;
    padding-top: 60px;
     padding-bottom: 40px;
     margin-bottom: 108px;
     @include media-1180(){
         padding: 45px 0;
         background: none;
         background-color: #232427;
    }
     @include xxs-block(){
         padding-bottom: 20px;
    }
    @include xs-block(){
         margin-bottom: 20px;
    }
     .delivery-row{
         @include row-flex();

         @include media-1180(){
             justify-content: center;
        }
    }
     .delivery_info{
         @include col();
         @include size(6);
         @include media-1180(){
             @include size(8);
        }
         @include media-900(){
             @include size(10);
        }
         @include size-sm(11);
         @include size-xs(12);
         @include xxs-block(){
             flex-direction: column;
        }
    }
     .delivery_header{
         font-size: 90px;
         font-weight: 700;
         color: #00ce7f;
         margin-bottom: 35px;
         @include media-1180(){
             text-align: center;
             font-size: 70px;
        }
         @include md-block(){
             margin-bottom: 35px;
             font-size: 60px;
        }
         @include sm-block(){
             font-size: 50px;
        }
    }
     .delivery_title{
         font-size: 16px;
         
         margin-bottom: 24px;
         max-width: 412px;
         @include media-1180(){
             max-width: 100%;
             text-align: center;
        }
    }
     .delivery_cheked{
         padding: 6px 0;
         span{
             
             font-size: 16px;
             padding:0 10px;
             @include xxs-block(){
                 padding:0 5px;
            }
        }
    }
    .consultation_btn{
         margin-top: 30px;
         margin-bottom: 65px;
         width: 100%;
         
         @include xs-block(){
           margin-top:15px;
        margin-bottom: 40px;
         }
         @include xxs-block(){
           text-align: center;
         }
    }
     
     .notice{
         font-size: 15px;
         
    }
}
