.excellence{
    margin-top: 60px;
     padding-bottom: 20px;
     margin-bottom: 86px;
     @include xxs-block(){
    margin-bottom: 26px;
     }
     .excellence_header{
         
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 50px;
         @include xxs-block(){
             font-size: 16px;
             font-weight: 700;
             margin-bottom: 20px;
        }
    }
     .row-excellence{
         justify-content: center;
    }
     .excellence_item{
         @include col();
         @include size(3);
         @include media-1180(){
             @include size(5);
             margin:10px 15px;
        }
         @include size-sm(10);
         @include sm-block(){
             display: flex;
             margin: 0;
             padding:20px 10px;
        }
         @include size-xs(12);
         @include xs-block(){
             background:none;
        }
         background-color: #232327;
         padding: 38px 28px 38px 31px;
    }
     .excellence_img{
         margin-bottom: 19px;
         width: 70px;
         text-align: center;
         @include sm-block(){
             margin-right: 10px;
        }
         @include xxs-block(){
             width: 100px;
        }
    }
     .excellence_title, .excellence_text{
         
         font-size: 16px;
         font-weight: 700;
         line-height: 24px;
    }
     .excellence_title{
         margin-bottom: 22px;
         @include sm-block(){
             margin-bottom: 5px;
        }
    }
     .excellence_text{
         font-weight: 400;
         line-height: 22px;
    }
}
