.partners{
     background-color: #242528;
     padding-top: 59px;
     padding-bottom: 70px;
     margin: 30px 0;
     @include xxs-block(){
         margin-bottom: 40px;
    }
     .partners_header{
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         text-align: center;
         margin-bottom: 50px;
    }
     .partners-row{
         position: relative;
    }
     .slick-arrow{
         position: absolute;
         top: 50%;
         right: 0px;
         cursor: pointer;
         &:first-child{
             left:0px;
        }
    }
     .slick-dots {
         bottom: -65px;
         li button{
             width: 10px;
             height: 10px;
             border-radius: 10px;
             background-color: #5f626e;
        }
         .slick-active button{
             background-color: #00d181;
        }
    }
     .slick-list{
         @include xxs-block(){
             width:220px;
             margin: 0 auto;
        }
    }
     .slick-slide{
         justify-content: center;
         @include xxs-block(){
             display: block;
        }
         div{
             text-align: center;
        }
    }
     .partners_item{
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 5px 0;
         height: 61px;
         @include xxs-block(){
             display: block;
             padding: 65px 0;
             margin: 5px 0;
             justify-content: center;
             background-color: #2a2b2f;
        }
    }
}
 