.products{
     margin-bottom: 48px;
     @include xs-block(){
         padding-bottom: 5px;
    }  @include xxs-block(){
         margin-bottom: 0px;
    }
     .products_info{
         box-sizing: border-box;
         margin: 0 auto;
         width: 100%;
         display: flex;
         flex-wrap:wrap;
         justify-content: center;
         margin-top: -60px;
         box-shadow: 4px 5px 20px rgba(0, 0, 0, 0.8);
         @include sm-block(){
             width: 70%;
        }
         @include xs-block(){
             width: 80%;
             justify-content: center;
        }
         @include xxs-block(){
             width: 100%;
             margin-top: -145px;

        }
    }
     .info_item{
         background-color: #2a2b2f;
         width: 25%;
         @include md-block{
             width: 50% 
        }
         @include sm-block(){
             width: 100%;
             padding:14px 0;
             &:first-child{
                 padding-top: 34px;
            }
             &:last-child{
                 padding-bottom: 34px;
            }
        }
       
         @include xxs-block(){
           
             margin-top: 0px;
        }
         box-sizing: content-box;
         padding-top:40px;
         padding-bottom:40px;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: #2c2d31;
         img, .info_title{
             padding:0 10px;
        }
         .info_title{
            max-width: 44%;
             
             font-size: 16px;
             font-weight: 700;
             line-height: 22px;
             @include xxs-block(){
                 max-width: 100%;
                 font-weight: 400;
            }
        }
    }
     .products_items{
         @include row-flex();
         margin-top: 70px;
         justify-content: center;
         @include media-700(){
             margin-top: 20px;
        }
         @include xxs-block(){
             margin-top: 20px;
        }
    }
     .product{
         background-color: #242427;
         @include col();
         @include size(4);
         @include media-900(){
             @include size(5);
        }
         @include media-700(){
             @include size(12);
             display: flex;
             position: static;
             align-items: center;
             opacity: 1;
        }
         @include xxs-block(){
             margin: 5px;
        }
         margin-top: 30px;
         position: relative;
    }
     .product_title{
         background-color: #242427;
         @include media-700(){
             font-size: 20px;
             position: static 
        }
         @include xs-block(){
             
             font-size: 16px;
             font-weight: 700;
             text-transform: uppercase;
        }
         position: absolute;
         top: 75%;
         left: 0;
         padding: 5px 0;
         text-align: center;
         
         font-size: 24px;
         font-weight: 500;
         text-transform: uppercase;
         width: 100%;
         opacity: 0.8;
    }
     .product_img{
         img{
             display: block;
             opacity: 0.8;
        }
         @include media-700(){
             width: 30%;
        }
    }
     .product_svg{
         display: none;
         padding: 20px;
         @include media-700(){
             display: block;
        }
         @include xxs-block(){
             width: 16px;
             height: 13px;
        }
    }
    .all_products_btn{
        width: 100%;
        text-align: center;
    }
     
}
 