.request{
     background: url(../img/request-bg.jpg) no-repeat 50%;
     margin-top: -240px;
     margin-bottom: 95px;
     @include media-1180(){
         background:none;
         margin-top: 0;
         margin-bottom: 25px;
         background-color: #242427;
    }
     @include xxs-block(){
         padding-bottom: 30px;
    }
     .request-row{
         @include media-1180(){
             justify-content: center;
        }
    }
     .request_info{
         @include col();
         @include size(7);
         padding: 0 20px 80px 98px;
         @include media-1180(){
             @include size(10);
             padding-bottom: 20px;
             margin-bottom: 20px;
        }
         @include size-sm(12);
         @include sm-block(){
             padding: 15px;
             margin: 0;
             margin-bottom: 30px;
             width: 100%;
        }
         @include xxs-block(){
             background-color: #2a2b2f;
        }
    }
     .request_info_header{
         color: #00fe9d;
         font-size: 60px;
         font-weight: 700;
         padding-top: 86px;
         padding-bottom: 9px;
         @include media-1180(){
             text-align: center;
             padding-top: 26px;
        }
         @include md-block(){
             font-size: 50px;
        }
         @include sm-block(){
             padding-top: 20px;
        }
    }
    
    .faq_info_header{
        font-size: 50px;
    }
     .request_text{
         color: #000;
         font-size: 16px;
         font-weight: 700;
         margin-bottom: 36px;
         @include media-1180(){
             color:$text-color;
             text-align: center;
        }
    }
     .request_item{
         color: #002e1c;
         font-size: 16px;
         font-weight: 500;
         line-height: 26px;
         padding: 12px 0;
         @include media-1180(){
             color:$text-color;
        }
    }
     .request_img{
         margin-right: 10px;
    }

    
}
